[2017-03-27 21:05] AKSoapy29 opened #1 "File Format"
Hi. What file formats does your app support? I was looking through the app code to see if I could figure it out and expand it to Sony's ARW format. Maybe I have the NextCloud environment setup wrong?

[2017-03-27 21:13] cowai commented on #1
@AKSoapy29 I have not tried ARW. If exiftool can extract a preview image then it should work. Provided that the reported mimetype by nextcloud is "image/x-dcraw". Have you had success with a normal CR2 file?

Try this as a first test:
[code]

[2017-03-27 21:16] cowai commented on #1
Oops, I accidently closed this issue. That was not my intention.

@AKSoapy29 If that command fails. You can try this one too:
[code]

[2017-03-27 21:32] AKSoapy29 commented on #1
I tried -PreviewImage, and that worked. I did not try -ThumbnailImage. I found a CR2 file online to test with, and it doesn't look like it generates a thumbnail in NextCloud. The 'camerarawpreviews' folder just goes in the 'apps' directory, correct? I don't think NextCloud is recognizing it.

[2017-03-27 21:39] cowai commented on #1
Yes, correct. You put it in the apps/ folder. And then you need to add the configuration as mentioned in readme.md.
After that you can enable the app in the app list in nextcloud.

It also may very well be that you need to add the proper mimetypes  (see official admin documentation for that) to your nextcloud installation, but I am not totally sure.

[2017-03-27 21:49] AKSoapy29 commented on #1
I checked in the app list after I installed it, but I didn't see anything. Could permissions on the files / directory effect something?

[2017-03-27 21:51] cowai commented on #1
Maybe. Make the files is owned by the same user that php runs as and it should be ok. What version of nextcloud are you running?

⁣Sent from BlueMail ​

On Mar 27, 2017, 23:49, at 23:49, AKSoapy29 <notifications@github.com> wrote:

[2017-03-27 21:51] AKSoapy29 commented on #1
The latest: 11.0.2.

[2017-03-27 21:57] cowai commented on #1
I would try to install other apps the same way to determine if there is anything specific with my app or not.

⁣Sent from BlueMail ​

On Mar 27, 2017, 23:51, at 23:51, AKSoapy29 <notifications@github.com> wrote:

[2017-03-27 22:19] AKSoapy29 commented on #1
Well I'm obviously doing something wrong, but I don't know what :/ I can't get a different app working either. I tried Theme Switcher: https://apps.owncloud.com/content/show.php/Theme+Switcher?content=173857

[2017-05-29 18:22] hftl-kalle opened #2 "Adding camerarawpreviews prevents jpg generation"
Now that I have installe raw previews, regular jpg preview generation does not work anymore.
Is this just for me? Or does anybody else have this behaviour.

[2017-06-03 20:51] hftl-kalle commented on #2
Okay, never mind.
After enabling camerarawpreviews you have to explicitly define all preview provieders you want to use.

[2017-06-03 20:51] #2 closed

[2017-07-05 11:54] Whisprin opened #5 "sh: exiftool: command not found"
Hello,

this app wasn't working for me. After some digging around, I found out that `exiftool` cannot be found from the shell in `shell_exec`.
[code]

My fix was to call exiftool using the full path as returned by `OC_Helper::findBinaryPath`.

Here's my pull reqeust: https://github.com/cowai/camerarawpreviews/pull/4

[2017-07-31 12:16] cowai commented on #5
Merged your pull request #4. Thanks!

[2017-07-31 12:16] #5 closed

[2017-08-27 19:23] cowai opened #6 "GD support"
This should work with as many installations as possible.

[2017-09-01 20:03] cowai opened #7 "Check for rotation exif tags and rotate accordingly"

[2017-09-01 20:08] cowai opened #8 "Check for more preview tags for better coverage of exiftool's supported formats"
[code]
Will output this:
[code]
A simple regex that extracts the amount of bytes and pics the tag with the highest number. Should also whitelist tags since this can be anything.

[2017-09-21 16:05] bspradling8 commented on #1
I'm kind of running into this same issue. I'm looking to get ARW images working but after installing. I can see CameraRawPreviews in the app list, however, the Enable button is greyed out and there is another button next to it wanting me to remove the application. Do you know of a way to get it enabled?

[2017-09-22 14:07] cowai commented on #1
What version do you have?
Maybe you can try to enable it with occ command? Maybe you get an error message that you can look up. Also check the nextcloud log for any thing related.

Do you have all the requirements for the app? Like exiftool, adding the needed config. Correct mimetype mappings for your format. Also, I am not sure if ARW works right yet.

[2017-09-27 12:16] rosmoo opened #9 "Can't enable app"
As instructed, I copied and extracted file to Nextcloud/Apps. After fixing permission, I tried to enable app from disabled apps section. At this point Nextcloud threw error :Could not download app camerarawpreviews".  Any reason why?

Nextcloud version: 12.0.3

[2017-09-27 21:26] cowai commented on #9
I am running 12.0.3 and do not have this issue. Have you checked the log? Or maybe try enabling with the cli "occ" ?

[2017-09-28 09:25] rosmoo commented on #9
I got it to work with with occ. Thanks!

[2017-09-28 09:25] #9 closed

[2017-10-08 12:18] stowel commented on #1
@bspradling8 Did you tried to enable the app with occ command?

1. Switch to nc install dir
2. run: `sudo -u www-data php occ app:enable camerarawpreviews`

I've enabled camerapreview like this, installed exiftool, ImageMagick and Magick-Php5, added following lines to my config.php `... 'preview_max_filesize_image' => 500,
  'enabledPreviewProviders' =>
  array (
    0 => 'OC\\Preview\\Image',

[2017-10-08 12:23] cowai commented on #1
I should find some time to write a good how to. I think the thing you are
missing now is correct mimetypes. But not really sure about that.

On Oct 8, 2017 14:18, "stowel" <notifications@github.com> wrote:

@bspradling8 <https://github.com/bspradling8> Did you tried to enable the
app with occ command?

   1. Switch to nc install dir
   2. run: sudo -u www-data php occ app:enable camerarawpreviews

[2017-10-08 20:13] stowel commented on #1
What mimetypes should I change/add?

In ./resources/config/mimetypemapping.dist.json both formats are already present:
[code]

[2017-10-08 20:17] cowai commented on #1
That is the correct ones. How much memory do you allow php?

On Oct 8, 2017 22:13, "stowel" <notifications@github.com> wrote:

[2017-10-14 15:10] stowel commented on #1
I've set no memory limit (value -1), the server got around 10GB free RAM. ...

[2017-10-15 11:52] cowai commented on #1
@stowel
What happens when you see the file in the files app? Do you get a preview or an attempt at an loading preview at all?

[2017-10-15 16:35] hasherdk commented on #7
I submitted a pull request addressing this issue.

https://github.com/cowai/camerarawpreviews/pull/10

[2017-10-16 07:07] stowel commented on #1
After I tried to update mimetype.js with:

`php occ maintenance:mimetype:update-js`

nc is not showing the preview plugin anymore and starts downloading cr2 and dng files directly. Before that the preview plugin loads and shows a black screen with the message

Looks like it getting even worse... :-(

[2017-10-16 08:36] cowai commented on #1
I think you can see the mimetype of the file by checking with webdav output.

[2017-11-01 06:21] bspradling8 commented on #1
Sorry I'm late getting back to this.  I was finally able to run the `occ` command to try and enable CameraRawPreviews. I get back the following: ```[Exception]
  App "CameraRawPreviews" cannot be installed because it is not compatible with this version of the server.```

I'm running the latest via Docker. What version does CameraRawPreviews support?

[2017-11-24 19:30] minorsecond opened #11 "Zero Size Image String Error"
I'm running NC 12.0.3 with PHP 7.0.25 on FreeBSD. I'm getting `Camera Raw Previews: Zero size image string passed` when trying to preview a .dng file.

I'm thinking [this](https://stackoverflow.com/questions/23289057/imagick-code-imagemagick-not-working) is related, specificially this:

I've poked around in RawPreview.php but couldn't get anything resolved.

Have you run into anything like this?

[2017-12-07 23:05] steiny2k commented on #7
The code from the pull request lacks the definition of the converter local variable in the new method  rotateImageIfNeeded, and so it doesn't work.
Adding `$converter = \OC_Helper::findBinaryPath('exiftool');` at the very beginning fixes this.

[2017-12-08 07:04] cowai commented on #11
I have not run into this. What format are you trying to preview?
You can check if you can get an image out of exiftool. It may use other tags for your format.

[2017-12-08 07:05] cowai commented on #7
Thanks for PR.
Is this fully working now?

[2017-12-08 07:07] cowai commented on #1
Right now 13 is specified in appinfo. Did you get it working? @bspradling8

[2017-12-08 07:36] steiny2k commented on #7
yes, at least in my setup the rotation seems to do the right thing. I've only tested Sony ARW files though. Don't know what it does with other raw formats.

[2018-02-09 12:27] alteadev opened #14 "Activation Issue"
In order to be able to activate the App, you should rename the App folder "CameraRawPreviews" inside the NextCloud Apps folder.

To activate: `sudo -u www-data php occ app:enable CameraRawPreviews`

[2018-02-12 01:52] stratege1401 commented on #14
what command ??

-u ???

[2018-02-12 02:16] stratege1401 commented on #14
ok, it's late, i am tired ... almost kill the serveur... getting a seg fault and php-fpm crashing

serveur error 503 when accessing my nextcloud

removing /etc/php/7.0/cli/conf.d/20-imagick.ini

control regain, server ok.

going to sleep.

[2018-02-12 11:03] cowai commented on #14
@stratege1401 Hello,
when you have put the camerarawpreviews folder inside your apps folder, instead of activating through the gui, you should try "php occ app:enable CameraRawPreviews" as the same user as your web server.
Also some distros have problems with imagick and php7.

[2018-02-12 22:39] stratege1401 commented on #14
Hello thanks for answer...

My /var/www/html is my nextcloud root directorie ( some laziness during install on my prototype).
CameraRawPreviews folder is under /html/apps
ls -la show www-data:www-data with drwxr-xr-x
Problem, acting as root php occ app:enable CameraRawPreviews give "could not open input files off" and if doing a su www-data I can't as user not available due to nologin constraints.

[2018-02-13 15:51] stratege1401 commented on #14
Under debian 9.3, you might have trouble with some users getting message "user unavailable".
This is due to the nologing.
to bypass this use this temporary solution:
su -l www-data -s /bin/bash  ( with www-dat the users with nologin )

STILL, i am getting a nice red square with:

www-data@nextcloud:~/html$  php occ app:enable camerarawpreviews

  [Exception]
  App not found

app:enable [-g|--group

[2018-04-02 16:24] cowai commented on #14
Pull latest master.
I think potensial issues are fixed now. Make sure the app folder is lower case "camerarawpreviews".

[2018-04-02 16:24] #14 closed

[2018-04-02 16:26] cowai commented on #7
Nobody has complained. I think it works :)

[2018-04-02 16:26] #7 closed

[2018-04-02 16:26] cowai commented on #11
@minorsecond  Feel fry to try latest master now, multiple things are fixed.

[2018-04-02 16:26] #11 closed

[2018-04-02 16:27] cowai commented on #8
Checks for JpgFromRaw now. A good start.

[2018-04-02 16:27] #8 closed

[2018-04-02 16:28] cowai commented on #1
No answer. Please reopen if the issue is not resolved.

[2018-04-02 16:28] #1 closed

[2018-04-03 09:38] cowai commented on #6
Fixed in master.

[2018-04-03 09:38] #6 closed

[2018-04-08 13:42] mat-cab opened #15 "autoload error"
Hi,

I tried installing on a brand new nextcloud server your app, and I can activate it without problem.
However, when accessing the gallery, I have no previews (only the "ongoing ring").

I find in the apache error log the following messages:
`[Sun Apr 08 13:29:53.418239 2018] [:error] [pid 1004] [client 0.0.0.0:0000] PHP Fatal error:  require(): Failed opening required '/var/www/html/nextcloud/a

[2018-04-08 15:07] cowai commented on #15
Hi,
Which PHP version do you have? As for the autoload.php it is part of the tar.gz appstore package. I have also tested the install on a new nextcloud 13 install and that worked.
How did you install it? If you are using git, you need to build it (run make). I recommend just install it in the nextcloud appstore.

About the second bug, I am not sure we even need them in your config.

[2018-04-08 15:11] cowai commented on #15
Mentioned easier install method in the README.md https://github.com/cowai/camerarawpreviews/commit/a0d06505653821e022fce6ad3f30ba53a58be031

[2018-04-08 16:01] mat-cab commented on #15
Yeah I can confirm that the app works as expected using the tarball from the app store.

Concerning the config, I left the mentionned lines in the config.php, therefore I guess that it works OK with them!

[2018-04-08 16:15] mat-cab commented on #15
Since we are also discussing unimportant issues, I shall also add that the download of the git repository (in zip form) is detected by Avast antivirus as infected by ELF:Bew-L [Cryp]...

[2018-04-08 16:24] cowai commented on #15
That is probably from the embedded Perl binary. I will try to make that
optional somehow.

On Sun, Apr 8, 2018, 18:15 mat-cab <notifications@github.com> wrote:

[2018-04-08 16:31] cowai commented on #15
Most distros have perl included, but wonderfall/nextcloud docker image does not and that is why I am including it. But I will try to include it from source.
The files is also not documented now. But its coming from http://software.schmorp.de/pkg/App-Staticperl.html

[2018-04-09 18:30] Tott3 opened #16 "JPG Previews"
Not sure if it's this app, but my JPG previews has stopped working ;o The RAW works just fine tho. This is the only unofficial app I'm running.

[2018-04-09 18:34] cowai commented on #16
Any info from the logs?

On Mon, Apr 9, 2018, 20:30 Totte <notifications@github.com> wrote:

[2018-04-09 18:40] Tott3 commented on #16
Pretty much all I could find in the error_log. Not quiet sure what other logs to be looking for :P

[code]

[2018-04-09 18:41] cowai commented on #16
Errors in the nextcloud log would be great.

On Mon, Apr 9, 2018, 20:40 Totte <notifications@github.com> wrote:

[2018-04-09 18:44] Tott3 commented on #16
Found it. This is literally the entire file. Doesn't looks like it got something to do with the thumbnail generation :/ Looks like when I had problems setting up NC the other day :P

`{"reqId":"ZRQwBX78bYSclCqVZnyF","level":3,"time":"2018-04-06T14:40:54+00:00","remoteAddr":"83.255.109.195","user":"--","app":"PHP","method":"POST","url":"\/index.php","message":"mkdir(): Permission denied at \/home\/

[2018-04-10 05:59] Tott3 commented on #16
Ye, removing this from the config makes it preview other media files again.

[code]

[2018-04-10 06:05] Tott3 commented on #16
It's working now. So I removed the lines I posted above from the config and went to "Apps" and hit enable instead. Weird.

[2018-04-10 07:43] cowai commented on #16
@Tott3 Can you upload/create a new raw file to check if new files also can be previewed? The previews are cached.

[2018-04-10 07:45] Tott3 commented on #16
Done. Works like a charm =)

[2018-04-10 07:49] cowai commented on #16
@Tott3 Thanks for your input.
Removed info about the config.
https://github.com/cowai/camerarawpreviews/commit/04ef7cc4f24dc81de5c7affff4094a6136028401
I think this was only needed some time ago in older versions.

[2018-04-10 07:49] #16 closed

[2018-04-10 07:50] Tott3 commented on #16
Cool! Keep up the good work! Awesome tools for a hobby photographer :D

[2018-05-18 19:28] AdamEC opened #17 "DNG files - Unable to find preview data"
Hey, apparently my server can't generate previews of DNG files. Y tried with NEF files, and is working just fine, so I don't know if is because DNG is not supported (haven't found if there is a list of supported formats), or something else is broken on my end.

The logs will just return `Camera Raw Previews: Unable to find preview data` when trying to preview any DNG file, and the preview will be

[2018-05-18 19:39] cowai commented on #17
@AdamEC Do you know if your DNG files have previews in them? You could upload a test here: https://boxigy.com/s/ps66JnKVM0aUZe9 and I could check it if you want.

[2018-05-19 09:00] cowai commented on #17
The file you sent had a tiff preview and not a jpeg preview. I am testing locally to get tiff running, but that will only work if you have php imagick module installed. I need to think about how this could work for those with GD as well.

[2018-05-19 09:15] AdamEC commented on #17
Aha, ok! I didn't want to install imagick, but I guess I'll just have to do it now...
Thanks for the help!

[2018-05-19 09:44] AdamEC commented on #17
@cowai So... I installed imagick, an Nextcloud is now recognizing it (the theming tab is no longer asking me to install it to support SVG images, for example) but I still get the no preview data error.

Do you know if I need to configure it somewhere else?

[2018-05-19 18:06] cowai commented on #17
@AdamEC The code for TIFF previews is now pushed and a new release is pushed to the nextcloud app store. Right now the code does not check if you have TIFF support in imagick or not, but that is another issue. Let me know if the v0.5.3 works for you.

[2018-05-19 19:16] AdamEC commented on #17
Updated to v0.5.3, now all my DNG files have beautiful previews.
Thank you so much for the help, and the update!

[2018-05-19 19:39] cowai commented on #17
@AdamEC Good to hear it is working for you. Let me know if you find any other issues.

[2018-05-19 19:39] #17 closed

[2018-05-23 15:02] svidpet opened #18 "nextcloud issue"
Hi,

nextcloud stucks into maintance mode during camerarawpreviews update. NC is 13.0.2 on debian 9.

[2018-05-23 16:37] cowai commented on #18
Do you find anything related in the logs?

---- On Wed, 23 May 2018 17:02:27 +0200 notifications@github.com wrote ----

Hi,

nextcloud stucks into maintance mode during camerarawpreviews update. NC is 13.0.2 on debian 9.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-05-23 20:45] cowai commented on #18
@svidpet Did you install the app via the nextcloud app store?

[2018-05-27 19:41] svidpet commented on #18
@ cowai,
Sorry for the late reply. The app was installed through the "notification bell", as I received a note on available update.
NC froze and stuck into maintenance mode. I don't know what has happened, but the value of "maintenance" turned into => true, in the config.php.
After setting it back to false, NC start up as it should, and the installation of the app for the second time was flawless.

[2018-05-27 19:43] cowai commented on #18
@svidpet glad it worked out. Thank you for your nice comments.

[2018-05-27 19:45] #18 closed

[2018-07-05 20:17] michaelstingl opened #19 "Release in ownCloud Marketplace"
I'd love to have this working in ownCloud too. (oC10+)

[2018-07-05 20:20] cowai commented on #19
@michaelstingl it would probably work if you download a release and add the neccesary xml.   I would accept a PR for that:)

[2018-07-05 20:22] cowai commented on #19
@michaelstingl I saw your title now. Yes that would be preferable. I can look into this in the future.

[2018-07-05 20:23] michaelstingl commented on #19
I'll do some testing, also posted a Bounty for it:
https://www.bountysource.com/issues/60530680-release-in-owncloud-marketplace

[2018-07-06 10:41] cowai commented on #19
The app is out now on ownCloud Marketplace: https://marketplace.owncloud.com/apps/camerarawpreviews

[2018-07-06 10:41] #19 closed

[2018-07-06 11:18] michaelstingl commented on #19
Awesome, thanks!

[2018-07-23 13:25] mariusnop opened #20 "No function despite imagick"
Hello,

and first of all thanks for this great app!

I have the problem that the app does not work for me.
The current situation:

- Freenas FreeBSD as operating system
- Nextcloud 13 installed (works without problems)
- php7.2 incl imagick installed, this also runs "php -m".

but it is not possible to see RAW data in the preview.

[2018-07-23 18:42] cowai commented on #20
@mariusnop You probably do not have perl installed right? I bundle a static linux perl binary, but it's only used if there is no perl in PATH. I am planning on making it only opt-in for getting the static perl binary though.
If you already have perl installed, then maybe you are using a raw file that is not supported. Can you upload a sample so I can check?

[2018-07-23 23:02] mariusnop commented on #20
I hadn't installed pearl, but I did that later, without success. The files still cannot be opened. I use different RAW files from rawsamples.ch .

[2018-07-24 12:43] cowai commented on #20
can you try
[code]

[2018-07-24 12:50] mariusnop commented on #20
SAMPLE.CR2 cant be found

Do I have to upload a CR2 file or should it already exist as an example?

[2018-07-24 15:42] cowai commented on #20
Yes that seems right.
I have experienced nextcloud caching corrupted previews. can you try uploading SAMPLE.CR2 with a new name into nextcloud web ui and see if it works? Also clear logs before it and then try to see if you get a new error into nextcloud.

[2018-07-24 20:19] mariusnop commented on #20
`message":"Exception: Preview generation has failed`

[2018-07-24 21:21] cowai commented on #20
I am afraid this must be some freebsd-specific issue. I have no experience with it. If you could reproduce it in an environment I could get access to, I might be able to tweak the code to make it work. If you could make a vm image or give ssh access to a test environment that would work.

[2018-07-24 21:32] mariusnop commented on #20
You are welcome to have current data, as this is a test system. I document every step so that I can follow the installation step by step.

[2018-07-28 17:03] cowai commented on #20
@mariusnop
The fix is now in latest version 0.5.5. Both in Nextcloud Apps and ownCloud Marketplace.

[2018-07-28 17:03] #20 closed

[2018-07-28 17:15] mariusnop commented on #20
Thanks for your work, I'm really excited about your support and how quickly you can correct your app for bugs. Everything works perfectly.

Thank you!

[2018-08-02 12:39] merlincom opened #21 "ARW-Format (RAW Picture from Sony)"
Felicitation to the developers for excellent work!
It would be very helpful, if you integrate the ARW-Format* for previews in OwnCloud too, because I use OwnCloud for sharing my fotos with my buddy.
Thank you.

* ARW is the RAW-Format from Sony, for example ILCE-/M2 (Alpha 7 II).

[2018-08-02 12:41] cowai commented on #21
@merlincom Could you provide me with a sample. I have tested some arw, and those worked fine for me.

[2018-08-02 13:14] merlincom commented on #21
[DSC01422.zip](https://github.com/cowai/camerarawpreviews/files/2253608/DSC01422.zip)
Hallo Ari, is this File (packed as Zip) helpful?
Greetings from Switzerland

[2018-08-02 15:57] cowai commented on #21
Hi, i just tested your file. It works fine in my setup. Could you provide a bit more info? Like OS, CPU architecture. Make sure you have perl installed and see if it helps.

[2018-08-03 08:47] cowai commented on #21
@merlincom Also, you you check the nextcloud log for any errors related to camerarawpreviews?

[2018-08-03 16:12] merlincom commented on #21
In OwnCloud, there is no error-message in owncloud/data
perl 	ist installed at /usr/local/bin/perl (Free BSD)
https://support.hostpoint.ch/de/produkte/webhosting/haeufig-gestellte-fragen/pfade-verzeichnisse-system.
Now I will install NextCloud and test, if it work.

[2018-08-03 21:12] merlincom commented on #21
After installing Nextcloud 13.0.5 and add the apps Camera RAW Previews, it work fine with the ARW-Files from Sony. **Thank Ari for great work and support and stein2k for inspiration**.

PS: For OwnCloud, I found a note, that it could give troubles with FreeBSD. But I am not shure, if this is the reason, that in my case in OwnCloud the app Camera RAW Previews do not work with ARW-Files.
German: Das

[2018-08-03 21:45] cowai commented on #21
@merlincom which camera raw previews version did you use in ownCloud? I had an issue with freebsd/owncloud last week but that was resolved in 0.5.5.

If you want to still use freebsd/owncloud, make sure "perl" works in the command line. I am also willing to have a look with SSH if you want to debug this.

[2018-08-06 07:28] Webbeh opened #22 "Apple HEIC support"
It's no secret that Apple made that new picture format available on certain iPhones, and that there is no support, right now, for this format into Nextcloud.

Would it be possible to build this in this plugin ?

You should check "Tifig" out, here on github : https://github.com/monostream/tifig
That library is able to convert HEIC to different formats. Even if it just adds support to server owners

[2018-08-06 08:23] ChristophWurst opened #23 "Compatibility with Nextcloud 14"
Hi,

as you may have already seen, we have entered the beta phase for the release of Nextcloud 14. We usually try to keep up compatibility with previous app versions, but in some cases apps need some adjustments to properly work on new Nextcloud releases. With Nextcloud 14 there have been quite some changes in that regard:

You can find a list of all critical changes for app developers and admins

[2018-08-06 11:58] merlincom commented on #21
Hallo ari, did you get my informations in PM about lohin datas?

[2018-08-06 11:58] #21 closed

[2018-08-06 13:10] steiny2k commented on #22
I think the more recent builds of ImageMagick (which this app uses to provide the previews for RAW files) support also HEIF / HEIC (see https://github.com/ImageMagick/ImageMagick/issues/507). So it's not necessarily required to rely on another graphics converter such as tifig.
Based on my current understanding, this means, this app could easily be enhanced to also tackle files with the .heif exten

[2018-08-06 14:32] cowai commented on #22
@Webbeh Lets wait for @steiny2k PR in nextcloud/server and see if it gets in.
@steiny2k I all for getting it into this app, if you cannot get it into the core.

[2018-08-06 21:32] cowai commented on #23
@ChristophWurst New release now. Thanks for the heads up.

[2018-08-06 21:32] #23 closed

[2018-08-07 03:59] ChristophWurst commented on #23
Awesome, thank you!

[2018-08-07 16:09] merlincom opened #24 "NextCloud Update to 0.5.6 failed"
Camera RAW Previews
Beschreibung anzeigen…
[1] Für diese App ist eine Aktualisierung verfügbar (to (0.5.6).
[2] Update never ends.
Message:
Diese Nextcloud-Instanz befindet sich gerade im Wartungsmodus, was eine Weile dauern kann.
Diese Seite aktualisiert sich automatisch, wenn die Nextcloud-Instanz wieder verfügbar ist.
Login is not possible.
config/config.php
change 'maintenance' => true, to 'ma

[2018-08-07 22:44] cowai commented on #24
I think that happens sometime because of the app size (6mb) and some timeouts. It has nothing todo with this version specifically.

[2018-08-07 22:44] #24 closed

[2018-09-11 20:55] DarkRider1768 opened #25 "Issues generating previews in FreeBSD"
Hey,

Just saw a fixed issue regarding generating previews on FreeBSD. Unfortunately, we are current (literally just built the install yesterday) and we are still having issues with previews. We followed the ticket instructions, perl seemingly generates the preview just fine but it doesn't show in the gallery even with a new upload of the file with a different name, but can't seem to get it to wor

[2018-09-11 21:00] cowai commented on #25
*cloud log would be great.
If you give me a test environment by ssh or a vm file I can debug locally and try to get it to work. I probably do not have time until Thursday at best.

[2018-09-12 07:31] DarkRider1768 commented on #25
I modified the command a bit (didn't like the path to exiftool) and it
worked but it didn't seem to work as provided. I'll get you the output when
I get in in the morning.

The directory I used that seemed to let it work was
/usr/local/bin/exiftool... If I remember correctly. I'll get that for you
too (even though it's probably less useful lol).

Thanks for taking a look at this, it's a huge help!

[2018-09-12 07:34] cowai commented on #25
My app uses a vendored exiftool and not the system exiftool.
you need to test with the proper path ("/nextcloud/apps/camerarawpreviews/vendor/jmoati/exiftool-bin/exiftool").
If that gives you an error, then we know there is a problem with the vendored exiftool on freebsd.

[2018-09-12 17:18] DarkRider1768 commented on #25
APP_PATH: Undefined variable.
root@NextCloud:~ # perl /usr/local/www/nextcloud/apps/camerarawpreviews/vendor/jmoati/exiftool-bin/exiftool -json -preview:all $RAWFILE_PATH
RAWFILE_PATH: Undefined variable.
root@NextCloud:~ # perl /usr/local/www/nextcloud/apps/camerarawpreviews/vendor/jmoati/exiftool-bin/exiftool -json -preview:all /mnt/data/__groupfolders/1/Flute_AF580-BO_Full\ Front_Raw_216.CR2
[{

[2018-09-12 20:33] cowai commented on #25
hmm. I think I would need to debug this locally.
The output from the command seems good. I think maybe perl detection in my app does not work properly with your system.

If you could provide me with a vps or a vm where I could debug it I could help you.
I have very limited time for non-paid work these days to setup a freebsd debug environment so if you would like to speed things up you could put a

[2018-09-12 20:40] DarkRider1768 commented on #25
I'll look into doing an rsync to my home NAS and changing the passwords on stuff. After that, I should be able to get you ssh into it. It's just not going to fly with giving external ssh into a client box at work. After I have a test environment propped up at home, you can hammer at it as much as you'd like. I'm not sure that the client is going to want to pay for the bounty, unfortunately. They'v

[2018-10-12 22:14] agross opened #26 "App stopped working in ownCloud 10.0.9"
Hi,

First off thank you for creating this app. I'm having trouble getting this to work. I use a [custom docker image](https://github.com/agross/owncloud/blob/master/Dockerfile) that includes the imagick module.

When I open CR2 images in ownCloud web I get this when clicking on the respective HTTP request in dev tools:

[code]

When the file list loads I see a lot of GET 404s for URLs like these:

[2018-10-12 22:35] cowai commented on #26
Hi,
Can you check your owncloud logs for camerarawpreviews entries?

[2018-10-12 23:14] cowai commented on #26
update:
I see that my app stopped worked in owncloud 10.0.9.
You can either use nextcloud or wait for a fix. That fix may take a long time, since there seems to be bigger changes now between nextcloud and owncloud.

[2018-10-13 08:11] agross commented on #26
There's nothing logged on my machine. Thank for researching this.

I'll wait for an updated release, I cannot change the underlying system without possibly breaking my users.

[2018-10-13 16:31] cowai commented on #26
Fixed in v0.6. Should be in owncloud marketplace and nextcloud app store by now. Thanks for the bug report. This should never have happened in a minor release of owncloud. Very strange.

[2018-10-13 16:31] #26 closed

[2018-10-13 16:32] cowai commented on #25
Please try latest version now, v0.6. If you're lucky this is the same bug as https://github.com/cowai/camerarawpreviews/issues/26 which is fixed now.

[2018-10-15 18:33] cowai commented on #25
@DarkRider1768 Care to update and check now with v0.6.1 ?

[2018-11-12 12:56] andmor- commented on #25
I am seeing the same issue with v0.6.1 on FreeBSD v11.2.0.4, Nextcloud 14.0.3

`perl $APP_PATH/vendor/jmoati/exiftool-bin/exiftool -json -preview:all $RAW_DIR/IMG_20181013_192303.dng`
returns:
`[{
  "SourceFile": "$RAW_DIR/IMG_20181013_192303.dng"
}]`
No errors. But Nextcloud's UI does not show any preview and all requests for .DNG previews end up with 404.

[2018-11-12 15:59] cowai commented on #25
Actually that output shows there is no preview inside the file. At least not one exiftool can detect.

// Ari Selseng

---- On Mon, 12 Nov 2018 13:56:12 +0100 notifications@github.com wrote ----

I am seeing the same issue with v0.6.1 on FreeBSD v11.2.0.4, Nextcloud 14.0.3

perl $APP_PATH/vendor/jmoati/exiftool-bin/exiftool -json -preview:all $RAW_DIR/IMG_20181013_192303.dng
 returns:
[{ "SourceFi

[2018-11-12 18:02] andmor- commented on #25
OK thank you for your answer. I tried a DNG file from a different device and it works.
My misunderstanding was: this app does not generate the previews if they are not embedded in the raw file in the first place. It only extracts (and adapts) existing previews from raw files and makes them available to Nextcloud.

So it is working great on FreeBSD. but unfortunately can't handle most of my DNG fil

[2018-11-12 19:39] cowai commented on #25
Yeah, actually rendering previews from RAW without extract embedded previews requires a lot more power from the server and is very hard getting right colors and levels, its just not worth it.

If you have Adobe Lightroom or equivelent you can normally set it to make previews automatically.

[2018-12-10 12:21] violoncelloch opened #27 "Support for Nextcloud 15"
Nextcloud 15 has been released today. It would be nice if you could update this app to work on Nextcloud 15! Thank you!

[2018-12-12 06:37] cowai commented on #27
@violoncelloch PR is welcome. I am very busy at the moment. It might take a few more days if nobody else fixes it.

[2018-12-12 06:38] cowai commented on #27
@jia2258 I am supporting any file that has embedded jpeg/tiff previews inside them and which is supported by exiftool.

[2018-12-12 17:55] YellowTech commented on #27
A hack to get it working on 15 again is to just set the `max-version` in `appinfo/info.xml` to 15 instead of 14. It works on my 2 instances. WARNING: I don't know how the app works, this could have consequences.

[2018-12-12 18:42] violoncelloch commented on #27
I think that works if there are no (UI) regressions because of changed things in Nextcloud 15...
@YellowTech could you do a PR for this?

[2018-12-12 21:12] YellowTech commented on #27
@violoncelloch just did it.

[2018-12-12 21:16] violoncelloch commented on #27
@YellowTech thank you for the PR #28
@cowai is this sufficient for you and could you release a new version to the nextcloud appstore then?

[2018-12-13 19:08] cowai commented on #27
@violoncelloch Fixed by @YellowTech. I have signed it and put it to the nextcloud app store.

[2018-12-13 19:08] #27 closed

[2018-12-27 20:10] Webbeh commented on #22
It was merged in apparently.

[2018-12-27 20:10] #22 closed

[2019-01-08 22:02] svenb1234 opened #29 "No previews generated for DNG"
I use nextcloudpi with the app but there are no previews generated for the DNG files the Android app open camera shoots. Unfortunately I cannot find any messages in the logs, thus I am not even sure the app is working. How can I find out.? Nextcloudpi is supposedly pre-configured with imagemagick. The logs only contain debug output of the normal gallery app preview generator which fails to process

[2019-01-12 14:50] cowai commented on #29
This app doesn't necessarily need imagemagick. It works mostly with GD as well. The main dependency is perl and being able to extract previews with the included exiftool in this app. Plus, the raw file needs to have previews embedded in the exif tags as well. Some DNG do not have that.

To test that exiftool works and that the DNG file have previews you can try this command in your terminal:
[code

[2019-01-18 10:18] cowai commented on #29
@svenb1234 Any news here?

[2019-01-19 07:52] svenb1234 commented on #29
Sorry for the late answer, I missed the first notification.

The output I get is as follows:

root@nextcloudpi:/data/nextcloud/apps/camerarawpreviews# perl ./vendor/jmoati/exiftool-bin/exiftool -json -preview:all /data/nextcloud/data/__groupfolders/1/IMG_20181203_172003.dng
[{
  "SourceFile": "/data/nextcloud/data/__groupfolders/1/IMG_20181203_172003.dng"
}]
root@nextcloudpi:/data/nextcloud/apps/c

[2019-01-19 11:49] cowai commented on #29
These files do not have previews embedded inside them I'm afraid. If you  use Lightroom or something like that you can usually enable previews to be generated when dumping the files or maybe on the camera itself.

[2019-01-19 11:51] svenb1234 commented on #29
Ok, then I misunderstood the functionality of the app. Thought it would actually create previews rather than only extract them. Never mind.

[2019-01-19 13:32] cowai commented on #29
Yes I am sorry. Most raw files does have previews inside them though. It's basically just DNG I think that some times does not, depending on the import method used from the cameras.
I am closing this.
You could create another issue for getting this functionality of creating previews without exiftool though.

[2019-01-19 13:32] #29 closed

[2019-03-01 21:00] jsanfe opened #30 "Force preview"
Its possible to force preview? I mean, I have a lot of raws, I have to wait a lot in each folder to make the previews. I dont know if is possible to force this, and allow next cloud to generate the raws previews for all folders...

Regards!

[2019-03-01 21:07] cowai commented on #30
https://apps.nextcloud.com/apps/previewgenerator

You can use this. Only down side I remember was it generates like 10-15 previews for each file. At the company I work we have 300k+ images, and with that I got over 3 million extra items in the filecache slowing everything down ;)

Maybe Preview Generator now can specify image sizes that should be generated though.

Another thing that I have been t

[2019-03-01 21:07] #30 closed

[2019-04-11 01:28] Eeems opened #31 "High RAM/CPU usage when generating large amounts of previews"
When opening a folder with lots of RAW images for the first time and scrolling to the bottom, I noticed that my server's fans went into overdrive. Upon further inspection it was because this addon was attempting to run every single preview generation at the same time (~400 images). This was maxing out the CPU and using over 20GB of RAM (All available and a good chunk of swap).

I would highly reco

[2019-04-11 06:31] cowai commented on #31
What platform are you on? Nextcloud or owncloud? At least in nextcloud there is a certified amount of images that's retrieved in the same time. That limit is certainly not as high as 400. More like 8. This is probably also too high. It's not feasible to do this in this app I am afraid, because this is only a preview provider for *cloud. It would be the other apps like Files that handles retrieving

[2019-04-11 06:34] cowai commented on #31
Come to think of it, it may also be a database issue. Maybe a non-optimized query to the the filescache. Are you able to put on a slow query log on you platform?

[2019-04-11 15:03] Eeems commented on #31
I'm running Nextcloud 15.0.6. From what I was seeing it was spinning up well over 8 threads for rendering the images. Unfortunately I have the slow query log turned off, but from what I could tell it wasn't the database that was causing either problem. Most of the CPU time and RAM usage was coming from elsewhere.

As for the preview generator, I have encryption turned on, so it will only generate

[2019-04-11 17:41] cowai commented on #31
@Eeems I hear you. Let me check if this is doable without redoing the whole app.
I have a method I can respond too that is "isAvailable()" that I can return false. But that will just stop it from generating previews. Limiting the amount would be NC core territory.

I bet this mostly comes from big files and the process of decrypting them + many threads. For small jpegs there isn't much decrypting

[2019-04-11 18:05] cowai commented on #31
@Eeems Another observation here is that the Files app in thumbnail mode shows way more images than if using the Gallery app in the same folder. Does it help for you in the Gallery app?

[2019-04-11 19:21] Eeems commented on #31
I was actually in list view in the files app and scrolled to the bottom.

I can replicate the high CPU usage when viewing one of the directories. As you can see this is just due all the queries going on. I'm sure there is something that can be done to optimize that.
![image](https://user-images.githubusercontent.com/1176979/55984823-99957900-5c5b-11e9-9439-39a8a281a938.png)

Based on the number of

[2019-04-11 19:35] cowai commented on #31
@Eeems Thank you for your screenshots. Fixing this in a simple clean way is just not possible due to several things. I need to conform to how a nextcloud app should behave. It's PHP so it's inherently request based.
Scrolling to the bottom in the details view of Files app with hundreds of image files that have not produced a preview yet will certain be slow on any kind of format. Not just with raw

[2019-04-11 19:35] #31 closed

[2019-04-11 19:50] Eeems commented on #31
Thanks for the help @cowai

[2019-04-24 13:11] dennorske opened #32 "exif_read_data errors - Illegal format code"
`exif_read_data(DSC_0114.NEF): Process tag(x0003=UndefinedTa): Illegal pointer offset(x0003 &lt; xA2221002) at /var/snap/nextcloud/12753/nextcloud/extra-apps/metadata/lib/Controller/MetadataController.php#215`

I get a bunch of these and no previews ever worked on my installation.
i am running nextcloud as a snap.

Memory limit is around 16 gb, imagemagic has been installed.
Any idea what I can do

[2019-04-24 17:44] cowai commented on #32
If you send me a sample I can have a look;)

[2019-04-24 17:50] dennorske commented on #32
Here is the exact file as described above. Picture shows Tromsø's bridge (Norsk wohoo)
http://ducky.rocks/index.php/s/SfWwXSLDSjTt9aQ/download

Will expire tomorrow

[2019-04-25 07:06] cowai commented on #32
@dennorske Seems to be a snap issue. Maybe some kind of snap permissions issue or SELinux issue. It works great here using docker. I can test this in time, but not before at least a week I think.

[2019-04-25 08:42] dennorske commented on #32
@cowai alrighty, take your time. I'd be happy to help with logs etc. if you need.
Keep me updated :)

[2019-05-08 06:23] dennorske commented on #32
hi @cowai! I hope you are doing well :)
Any news on the testing, and is there anything else i can provide?

[2019-05-09 12:00] cowai commented on #32
No news yet. I think I will be able to test this weekend.

[2019-05-11 07:15] cowai commented on #32
@dennorske I tried it now. It seems to work without issues?
I did these steps on arch (and this is maybe the problem. No SELinux):

Can you confirm that use tried this app by doing something like these steps?

1:
[code]
2:
created a admin user with default settings in the web ui.

3: installed camera raw previews with the web ui

4: uploaded a raw file.

5: everything works without any issues in t

[2019-05-15 08:05] hezten opened #33 "nc16.0.1rc1"
After ugpradering to nc16.0.1.rc1 the previews in thumbnail view links to download of the files, not the fullsize preview. Is there any way to fix this ? Gallery view works fine, but the fullsize previews if prefered. The fullsize preview works fine with jpg and regular image format.

[2019-05-15 08:19] cowai commented on #33
@hezten Integration with the new Nextcloud Viewer is coming soon.

[2019-05-15 08:21] hezten commented on #33
@cowai coool, looking forward to it. Im using NC for cloud of all my raw files (30tb+) and several hundreds of thousand raw files so this is a very welcome updated integration :-)

[2019-05-15 08:51] cowai commented on #33
@hezten Wow that's a lot. You must have a huge oc_filecache?

[2019-05-15 09:39] cowai commented on #33
@hezten A new release submitted to the appstore now.

[2019-05-15 09:39] #33 closed

[2019-06-28 21:03] cvinhaes opened #34 "High CPU wait generating .CR2 previews"
During preview generation CPU wait (top wa) stay above 50% most of the time while the preview generation process or any other active process won't tax the CPU more than 5 to 10%. Load average in 5 minutes goes as high as 5 in a Celeron dual core CPU (J1800) with 4GB RAM running on Linux omv 4.14.0-0.bpo.3-amd64 #1 SMP Debian 4.14.13-1~bpo9+1 (2018-01-14) x86_64 GNU/Linux. I would understand if I s

[2019-06-28 21:14] cowai commented on #34
This is interesting data. I have never tried my app on anything other than beefy intel i7s so I never see 1 minute conversion times. What kind of storage are you using?

[2019-06-28 21:27] cvinhaes commented on #34
It's an old PC converted to NAS server, storage is a local Hitachi SATA 7200 rpm 2TB HD. My point is exactly that I expected conversion to overwhelm the CPU but this is not what I see. Important to mention that I'm running the official nextcloud 16 Docker image.

[2019-06-28 23:13] cvinhaes commented on #34
![image](https://user-images.githubusercontent.com/50474774/60375745-26d9a580-99e1-11e9-865d-d1702a278c3e.png)

[2019-06-29 08:09] cowai commented on #34
For each file it's copied to /tmp (to support external storage), maybe it's that part that is really slow. Can you if your drive is overwhelmed? Iostat or some other utility. I bet there is multiple files being copied at the same time and your drive cannot keep up.

[2019-07-01 01:03] cvinhaes commented on #34
sdb is the system disk (solid state), sdc (magnetic) is where the preview files are stored and where sdd (magnetic) is where the source pictures live. This is what looks odd to me - sometimes the system spend minutes with no access to sdc or sdd (I can hear when there's activity) while the system disk is overwhelmed just as seen on this picture, this is when the load average and i/o wait spikes. A

[2019-07-01 01:04] cvinhaes commented on #34
![image](https://user-images.githubusercontent.com/50474774/60404857-08131480-9b83-11e9-895b-3ba32e2286b8.png)

[2019-07-01 01:05] cvinhaes commented on #34
![image](https://user-images.githubusercontent.com/50474774/60404866-119c7c80-9b83-11e9-90d1-e6f92b147065.png)
![image](https://user-images.githubusercontent.com/50474774/60404872-1d883e80-9b83-11e9-9658-e949df47ae96.png)

[2019-07-01 01:23] cvinhaes commented on #34
[lsof.txt](https://github.com/cowai/camerarawpreviews/files/3343595/lsof.txt)
The attached file is the lsof output for the preview:generate-all process.

[2019-07-01 06:28] cowai commented on #34
@cvinhaes What is apache doing when its at 100%? The preview:generator should be totally separated from apache.

[2019-07-02 16:59] cvinhaes commented on #34
@cowai there's definetly something weird with apache here because it`s also maxing out when I sync files using the nextcloud desktop client. Same deal, high cpu and little to none actual I/O throughput, so I guess the issue with raw cr2 preview is unrelated with the camerarawpreviews app. I'm closing the issue for now, thank you for your attention.

[2019-07-02 16:59] #34 closed

[2019-07-03 16:15] cowai commented on #34
@cvinhaes Did you try disabling this app and see if you still had 100% cpu ?

[2019-07-03 16:26] cvinhaes commented on #34
@cowai yes I have. Preview works perfectly with the app disabled and CPU load remains well under control.

[2019-07-04 16:18] dennorske commented on #32
I am sorry for the long response time here.
I ended up moving over to the normal install of nextcloud, as i needed to configure it to my needs much easier. There i reinstalled my apps. And Voila!

I can now see all the raws be processed and shown thumbnails for, and I can even preview the files in the web-browser which is great. Thanks, I am closing this issue for now.

If other people face the sa

[2019-07-04 16:18] #32 closed

[2019-09-21 15:01] phpbg commented on #31
it would be interesting if you can test this pull request to see how it improves (or not) : https://github.com/nextcloud/server/pull/17028

Indeed, when you browse the files for the first time, two previews are generated.
I did this patch to generate only the required preview, end saw very interesting results.

I'm being told by nextcloud guys that those two previews are used to improve spped when

[2019-09-21 15:31] phpbg commented on #31
[moved comment to new issue]

[2019-10-02 08:45] Gatak opened #35 "Enhancement: NC 17 support :)"
Just a ping to ask for NC 17 compatibility :) Thanks!

[2019-10-12 15:22] e-alfred commented on #35
@ariselseng It seems like you forgot to upload the release file for the 0.7.1 release?

[2019-10-12 15:55] Schmuuu commented on #35
Yes, when trying to update or download the app, there is an error:
[code]

[2019-10-12 16:11] Aurnytoraink commented on #35
@Schmuuu Yeah me too, I think @ariselseng forgot to provide the final compiled file into his release

[2019-10-12 17:39] paulcalabro commented on #35
I'm getting a 404 as well.

[2019-10-12 17:51] ThomasVermeersch opened #36 "updating in nextcloud 17"
when I try to update to version 7.1 of camerarawpreviews, it tries to download the wrong github link.

nextcloud log containing the unavailable package link:
{"Exception":"GuzzleHttp\\Exception\\ClientException","Message":"Client error: `GET https://github.com/ariselseng/camerarawpreviews/releases/download/v0.7.1/camerarawpreviews_nextcloud.tar.gz`

 this is the one it should point to:
https://cod

[2019-10-12 18:33] ariselseng commented on #36
I am sorry I had to remove the asset due to a breaking bug in the release. I couldn't figure out how to remove the update from apps.nextcloud.com before I needed to go to work. I will push a fix as soon as I can.

[2019-10-12 18:35] ariselseng commented on #35
I found a bug in the release and could not remove the update before I went to work, so I removed the asset. I will push a new update as soon as I can.

[2019-10-12 18:48] ThomasVermeersch commented on #36
Ow no it's fine man, I was just trying to help out! You are doing a great
job with the app by the way!!

Greetings,

Thomas

On Sat, 12 Oct 2019, 20:33 Ari Selseng, <notifications@github.com> wrote:

[2019-10-12 21:43] ariselseng commented on #36
@ThomasVermeersch Thank you. I have pushed a new release now that fixes the borked release.

[2019-10-12 21:43] #36 closed

[2019-10-12 21:48] ariselseng commented on #35
Sorry for today guys. Usually I do not make a new release right before work. There was a bug that broke the preview generation and the worse thing is that the result is stored forever so I just needed to remove the asset from github to stop people from getting it. Eventually I figured out how to remove the release from apps.nextcloud.com as well (rest api).

A new release is up now that fixes the

[2019-10-12 21:48] #35 closed

[2019-10-31 23:27] crypdick commented on #21
@ariselseng my preview generation fail with perl errors, even though I have perl and perl-base installed. Any ideas?

[code]

[2019-11-01 05:35] ariselseng commented on #21
Not exactly but it sounds like confinement issues with the snap. I have never tried my app with snap. I remember there was another user reporting similar issues with snap.

[2019-11-04 18:50] crypdick commented on #21
@ariselseng Do you think that a symlink in `/var/snap/nextcloud/...` may do the trick?

[2019-11-04 18:55] ariselseng commented on #21
@crypdick Honestly I have no idea how snap works so I could not tell you.

[2019-11-08 19:36] crypdick commented on #21
@ariselseng AFAIK, it essentially installs the app in it's own directory along with all its dependencies.

Could you help me decipher the perl error above? Is there a dependency that seems to be missing?

[2019-11-08 19:40] ariselseng commented on #21
@crypdick please try this command that is listed in this comment: https://github.com/ariselseng/camerarawpreviews/issues/29#issuecomment-453753365
The output of that help determine what is wrong.

[2019-11-08 20:04] crypdick commented on #21
[code]

output:
[code]

[2019-11-08 20:10] ariselseng commented on #21
Hmm. That seemed to work. But I think maybe the perl is local and not what the snap has access to. Is there a perl inside the snap. Its important to execute this as if it was the app doing it.

[2019-11-08 21:06] crypdick commented on #21
I'm not sure how to do that. P.S. `/usr/lib/x86_64-linux-gnu/perl-base/XSLoader.pm` is missing.

[2019-11-11 20:01] aJanker opened #37 "Raw Preview no longer working @ Nextcloud 17.0.1"
After upgrading Nextcloud from 17.0.0 to 17.0.1 the camerarawpreviews app @ version 0.7.2 is no longer working and is failing with following exception:

[code]

PROPFIND /remote.php/dav/files/xxx/RAW
from xxx by xxx at 2019-11-11T19:52:55+00:00

[2019-11-11 20:13] ariselseng commented on #37
@aJanker First question. Which php version do you have? I just tried with the 17.0.1rc1 docker image and that worked well.

[2019-11-11 20:21] ariselseng commented on #37
Also, did you upgrade the camerarawpreviews recently? It could be some kind of cache problem. Do you use opcache or any other cache with nextcloud?

[2019-11-11 20:35] aJanker commented on #37
yeah - my bad. a php-fpm service reload did the trick. thank you very much for your help and sorry for any inconvenice.

great work btw :)

[2019-11-11 20:35] #37 closed

[2019-12-07 23:00] husdo opened #38 "perl warning with dockerized nextcloud"
With nextcloud 17.0.1 I get the following warning messages: "You do not have perl globally installed. Using a deprecated built in perl."

[2019-12-09 17:18] ariselseng commented on #38
That means your docker image does not have perl installed and the app is using a old bundled version instead. I introduced this logging because I want to remove the bundled perl in an upcoming release. But I should have mentioned this in the readme.

[2020-01-02 18:41] d--j opened #39 "Preview of TIFFs without embedded preview"
This line

https://github.com/ariselseng/camerarawpreviews/blob/0a8268aaddd6445be4f833638b42e834156af30a/lib/AppInfo/Application.php#L64

registers a wrong MIME type for .tif files (no .tiff files, tho) so that your `RawPreview` class can handle TIFF previews. Currently `RawPreview` can only handle TIFFs with embedded previews. `OC\Preview\TIFF` can also preview TIFF files that do not include a pr

[2020-01-02 18:47] ariselseng commented on #39
Well this sucks :) Good spotting the missing "f" in "tiff".
Making the mimetypes configurable would also certainly help so people can disable a filetype if needed.
I am out of time lately so I am not sure I can fix this right away. A PR is welcome.

[2020-01-03 21:47] #39 closed

[2020-03-30 23:43] ubunchu opened #41 "Nikon NEF raw files"
Hi, I've got an older camera, would it be possible to make it able to preview NEF files?

[2020-03-31 04:34] ariselseng commented on #41
It supports NEF but only files that have embedded previews inside of them. This app uses exiftool under the hood.

[2020-04-11 21:43] D34DC3N73R commented on #38
Is there any update on this? My logs are full of this and it makes it hard to see any other relevant warnings.

[2020-04-11 21:47] ariselseng commented on #38
You need to use a docker image that have perl installed. That is the way to solve this.

[2020-04-11 23:35] D34DC3N73R commented on #38
Thanks. For anyone else that runs across this issue while using the LSIO nextcloud image, it's possible to install perl yourself using custom scripts https://blog.linuxserver.io/2019/09/14/customizing-our-containers/

[2020-05-05 19:39] FlokMD opened #42 "No preview and Message "Error with loading XXXX.cr2""
Hy I´m using the Nextcloud as Storage for my pictures. With the new Version 18.0.4 I only get the message "Error with loading..." or in german "Fehler beim Laden" if I want to have a preview of any .cr2.

There is no Log entry or anything else...

Thanks for the help

[2020-05-05 19:41] ariselseng commented on #42
What kind of server do you use?  How is nextcloud installed? Do you use a unofficial docker image or maybe the snap?

[2020-05-26 22:03] arcotek-ltd opened #43 "Feature Request: Canon CR3 RAW support"
Apologies if it already works - Google hasn't returned any results and I'm reluctant to install NextCloud without this requirement.

As the title suggests, please add support for Canon CR3 RAW image files.

Thanks

[2020-05-27 17:43] ariselseng commented on #43
@arcotek-ltd
CR3 is whitelisted and active, but it all relies on the files having embedded exif previews (most have).
This app uses exiftool to extract previews. If exiftool can find a preview embedded in the file then yes it will work.

If you have exiftool installed you can test if there is any previews with your files with this command:
`exiftool -json -preview:all FILENAME.CR3`

[2020-05-27 17:43] #43 closed

[2020-06-05 15:04] owerg opened #44 "Please update for Nextcloud 19"
Please update the config so that it will work w/version 19

[2020-06-14 22:06] trispembo commented on #42
Hi there, I have the the same problem. The preview function has never worked on my installation.

I'm using VirtualBox snap installation. Everything else on the sever is working fine - and has for over a year - except for the camera preview app.

[2020-06-15 11:25] Derridaralalala commented on #44
@ariselseng Agree. Need it for workflows, it`s an awesome NC App! Please update for NC :-)

[2020-06-15 19:39] #41 closed

[2020-06-15 19:39] #38 closed

[2020-06-15 20:44] ariselseng commented on #44
Fixed with latest release.

[2020-06-15 20:44] #44 closed

[2020-06-15 20:45] ariselseng commented on #42
I have not gotten around to supporting snaps. I am not sure it is actually possible without editing the snap image I am afraid. If somebody wants to track this down I would be grateful.

[2020-06-15 22:10] trispembo commented on #42
Ah ha, that explains it. Thanks for the update.

[2020-06-27 18:41] Tahvok commented on #44
@ariselseng I have 0.7.4 however it still says:
[code]

[2020-06-29 14:17] ariselseng commented on #44
@Tahvok That must be some kind of caching issue. It definitely works on Nextcloud 19.

[2020-07-21 10:52] sieman-saa commented on #21
I have the same problem, don't you figure out how to solve it?

[2020-07-21 11:07] ariselseng commented on #21
It is definitely due to snap.

[2020-07-22 16:38] ariselseng commented on #42
@trispembo I just tried the latest snap (19.0.1snap1) and just worked out of the box. Could you try this again with the absolute latest snap, to be sure?

[2020-07-22 18:50] expiredemulsion opened #45 "Staticperl flagged as trojan"
It appears as the staticperl from camerarawpreviews is being flagged as a trojan by some EPP.
/var/snap/nextcloud/22327/nextcloud/extra-apps/camerarawpreviews/bin/staticperl

https://www.virustotal.com/gui/file/b6cdc997acdcad95a60c343e90dc5fb8c02f8e9c22642a9676c9aa3b3dc6ebc1/details

Perhaps it might be of interest to take a look at it.

[2020-07-22 21:29] ariselseng commented on #45
@expiredemulsion thank you. This is just a false positive. Many trojans use an embedded Perl and that is why it is finding it.
That being said I am planning to remove it as it is quite old.

[2020-07-22 21:32] #45 closed

[2020-07-23 16:18] ariselseng commented on #45
@expiredemulsion I have released a new version which removes this executeable. It was always something I wanted to remove as it was old and updated. This report made me do it.
Again, it is just a false positive, but I do not want people to think there is a trojan in their server :D

Thank you again.

[2020-07-23 18:16] #42 closed

[2020-07-23 23:34] trispembo commented on #42
Hey Ari,

Still not working for me. I removed the app, re-downloaded through the app store and activated. Still not working. My current install is Nextcloud 19.0.1 (snap).

[2020-07-24 04:31] ariselseng commented on #42
Could you send me an example file that does not work?

[2020-07-27 15:01] GitBoxer opened #46 "Won't load in version"
After updating to 18.0.7 web installer I get "This app cannot be installed because the following dependencies are not fulfilled:
The command line tool perl could not be found"

[2020-07-27 15:04] ariselseng commented on #46
Yes. Perl is a hard dependency now. In earlier versions I logged that the app was using a legacy bundled Perl binary and now it's finally gone.

[2020-07-27 18:47] ariselseng commented on #46
@GitBoxer I am sorry for this. If you are able to install perl on your server it can be installed. Closing.

[2020-07-27 18:47] #46 closed

[2020-07-28 04:19] trispembo commented on #42
Hey Ari, there're four RAW files from four different camera here:
https://u.pcloud.link/publink/show?code=kZtnEakZQsTfWltjhFSmGfErcShBqmCWJSi7

These are all the cameras that I own that produce RAW files.
All of them are failing to generate previews.

Canon 5D mkII
FujiFilm X-100
FujiFilm X-Pro1
FujiFilm X-T1

[2020-07-28 04:38] ariselseng commented on #42
@trisembo all four of these files worked fine for me. The preview output is cached, even if it failed it will cache the failed result. Have you tried a new file (you can upload an old file with a new file name) since you latest version of both nextcloud snap and the app?

[2020-07-28 05:12] trispembo commented on #42
Each of those files are old files I re-named and re-uploaded. All failed to generate previews.

[2020-07-28 05:14] ariselseng commented on #42
@trisembo do you see anything in the logs relates to this?

[2020-07-28 06:40] trispembo commented on #42
Maybe this...

"level":3,"time":"2020-07-28T06:26:28+00:00","remoteAddr”:”**.**.***.**”,”user”:”*****”,”app":"PHP","method":"GET","url":"/index.php/apps/audioplayer/setvalue?type=category&value=Artist-154-2360-150","message":"Undefined index: host at /var/snap/nextcloud/22400/nextcloud/extra-apps/bbb/appinfo/app.php#12","userAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.3

[2020-07-28 08:05] ariselseng commented on #42
@trispembo no this is unrelated.
I am willing to debug this if you can provide me with a tmate/ssh session or just teamviewer.

[2020-07-28 16:37] rebel22lax opened #47 "randomly stopped working"
I cant reinstall either, getting the error

This app cannot be installed because the following dependencies are not fulfilled:
The command line tool perl could not be found

I'm on the latest stable version of nextcloud

[2020-07-28 16:57] ariselseng commented on #47
Perl is now a requirement. I am sorry. But it has to do with maintenance and security.

[2020-07-28 16:57] #47 closed

[2020-07-28 16:59] rebel22lax commented on #47
is there a link or document on how I can install perl?

[2020-07-28 17:02] ariselseng commented on #47
What OS/platform are you running Nextcloud on? If you have Ubuntu or another Debian-based distro, you can do it with "sudo apt-get install perl".
Most linux distros have perl already installed so in usually there is nothing you need to do.

[2020-07-28 17:38] rebel22lax commented on #47
I'm on an unraid server that I built so I'm using their next cloud docker

as far as sudo goes can I just use the terminal inside unraid to run the command?

![image](https://user-images.githubusercontent.com/16298084/88701039-7e13e300-d0d7-11ea-894f-2ac7d2ad6b1d.png)

[2020-07-28 17:49] ariselseng commented on #47
@rebel22lax  If you are using docker then I would suggest you use the [official nextcloud image](https://hub.docker.com/_/nextcloud?tab=tags) as that has perl built-in.

If you really want to use your existing container you can run "apt-get update && apt-get install perl" inside the docker container but you will loose those changes whenever the container is recreated...

[2020-07-28 18:21] rebel22lax commented on #47
so after doing my googles I learned that for the unraid nextcloud docker I needed to be using apk

so using my limited terminal knowledge I came across the right command line which is

sudo apk add perl

![image](https://user-images.githubusercontent.com/16298084/88705200-31330b00-d0dd-11ea-89fd-25c90a24b4b6.png)

I then logged into my next cloud and was able to enable the camera raw plugin and it

[2020-07-28 18:23] ariselseng commented on #47
@rebel22lax Good you got it going. Just a reminder: If you upgrade/recreate the docker container you will loose your changes.
I strongly recommend using the official nextcloud container.

[2020-07-28 18:29] rebel22lax commented on #47
@ariselseng I'm not sure how I tie that into my unraid system. because sometimes unraid will say nextcloud has an update or I can log into nextcloud itself and see that there is an upgrade which I did today.  So is it as easy as running "sudo apk upgrade update" ? and I wont have to worry in the future

![image](https://user-images.githubusercontent.com/16298084/88706279-a4894c80-d0de-11ea-95df-68

[2020-07-28 18:35] ariselseng commented on #47
No I do not think it does work like that.
If unraid is making a new nextcloud image (which I think it does) perl will need to be reinstalled every time.
You cannot upgrade nextcloud with apk.

I recommend you use the official docker image or you ask the maintainer of the the unraid one to include perl for new releases.

[2020-07-28 21:19] claublog opened #48 "The app is not working"
Hi,

I'm running the snap version of nextcloud 19.0.1 in an Ubuntu 18.04 LTS.
The app is installed and activated, but it's not working. The .CR2 files are supposed to be previewed. Even clicking on them doesn't display the image.

Neither it does in the Android app.

Can someone please help me to troubleshoot it? In Nextcloud's register there are no messages related to the Camera RAW previews

[2020-07-29 05:00] ariselseng commented on #48
The very first thing I want is for you to send me an example file that does not work. I can test it in my installation to be sure the file actually has previews embedded.

Also, there have been lots of people reporting issues when using the snap version of nextcloud, even though I haven't been able to reproduce it. It might be to something called apparmor, which I haven't tested yet that I think s

[2020-07-30 05:24] trispembo commented on #42
Thanks Ari, I'm open to that. Just need to find a way to do it securely.

[2020-07-30 05:28] ariselseng commented on #42
You can also make a minimal virtualbox image that has the problem and then you can send me disk image. If you will that is safer/easier.

[2020-07-30 05:31] trispembo commented on #42
NextCloud is already running as an appliance on VirtualBox. I'm open for a teamviwer/screen sharing approach, but what is it you'll need to look at apart from logs?

[2020-07-30 05:33] ariselseng commented on #42
I will want to open an text editor and add some debugging code to the camerarawpreviews files. So that when things don't work we can get more helpful logging. Now there is limited help with the logs I am afraid.

[2020-07-30 05:38] trispembo commented on #42
So if I could share my screen when logged into terminal - and have an audio call at the same time - then you could talk me through what's needed? Would that work? Or you give me instructions on how to add de-bug code, and then share the logs?

I'm not an IT professional, just a tinkerer, but can usually follow instructions.

[2020-07-30 18:04] ariselseng commented on #42
@trispembo I installed a vm with Ubuntu 18.04 and then installed the nextcloud snap now. There seems to be some apparmor issues. There is no point right now to debug on you machine as I thought at first.
You can follow the issue here if you want: https://github.com/nextcloud/nextcloud-snap/issues/1422

[2020-07-30 22:40] z28rbill opened #49 "CPU overloading on opening large photo folder"
Hi !

Tonight I opened a folder with ~100 photos of 32MB each. The total folder is around 3.2GB.
The server went unreachable few minutes after. I needed to hard reboot it

Nextcloud version : 19.0.1 Dockerized
Application version : 0.7.4
**File format : .CR2**
I don't know if it's important, but the folder is a shared folder

**The first analysis show a CPU overconsumption :**

![image](https://us

[2020-07-31 01:23] trispembo commented on #42
Thanks for the update Ari.

[2020-08-01 22:52] ariselseng commented on #49
@z28rbill Hi,
This is a flaw in Nextcloud and not something I can fix in my app. I think it is lazyloaded some parts in Nextcloud but not everywhere. Also the amount of concurrent preview generations should be configureable. A Raspberry pi will choke.

As a work-around you can pre-generate previews with the previewgenerator app.

[2020-08-01 22:52] #49 closed

[2020-08-02 07:43] ariselseng commented on #42
@trispembo I have pushed a new update of my app that hopefully fixes your issue. Can you try the lastest update? You need to reupload a raw file with a new name or location to be sure if works or not.

[2020-08-02 07:46] ariselseng commented on #48
@claublog can you retry with the latest update?

[2020-08-02 08:42] claublog commented on #48
Hi @ariselseng,

Thank you very much for your support.
Updating to 0.7.6 fixed the issue.

Best regards

[2020-08-02 10:24] trispembo commented on #42
Awesome Ari, that's fixed it.

I didn't need to re-upload or change the name of the RAW files, it's now working as expected. It's really a useful function for me as I have thousands of RAW files and that saves me from having to convert them into jpeg to be able to preview through the NextCloud GUI.

Great work! I really appreciate you taking the time to sort it out.

[2020-08-02 13:11] #48 closed

[2020-08-03 08:37] TauNeutrino opened #50 "0.7.6 - exiftool.bin testet positive for virus! - Backdoor.Linux.bskw"
Hi,
I updated the app on my nextcloud yesterday and just got the message that the file /vendor/exiftool/exiftool/exiftool.bin
testet positive for a fairly new linux virus: Backdoor.Linux.bskw

https://www.virustotal.com/gui/file/879d6b4b6203b411731fc35c2b74abd8740f39dcaa694d494d204f54b475d6d9/detection
I sincerely hope this is a false positive but nevertheless I have to take actions...

I would su

[2020-08-03 08:38] ariselseng commented on #50
@TauNeutrino It is 100% a false positive. I have built the binary my self.

[2020-08-03 08:39] ariselseng commented on #50
@TauNeutrino You can check how it is done inside the build/tools folder.

[2020-08-03 09:08] TauNeutrino commented on #50
Thanks for clarification.
I will watch my system closely though.

[2020-08-03 09:08] #50 closed

[2020-08-03 09:10] ariselseng commented on #50
@TauNeutrino I am using a well known compressor called "upx". to make the binary about 60% smaller. It is the upx signature that can cause a false positive. I will try later to add some flags to make it go "under the radar". If you google upx and virustotal you see that there is lots of false positives.

[2020-08-03 16:51] ariselseng commented on #50
@TauNeutrino I have now removed the compression of the binary and made a new release (0.7.7).
See here for the virustotal report: https://www.virustotal.com/gui/file/0443a5044b301e96cb2c0afb318a663d21aae23979da7265d49eb47f0ae9868c/detection

Thank you for the heads up! I sure do not want to have people thinking I am putting malware on peoples servers.

[2020-08-04 06:18] TauNeutrino commented on #50
Thanks for all your effort and quick response! I really appreciate that!
As for the file size: that is of no concern for me. Even if it would be 100 times bigger, I would prefer it to a file that generates false positive virus alerts.
Keep up your incredible work! Thanks!

[2020-08-04 09:17] helloha82 opened #51 "Last update broke things?"
Since the last update it does not seem to work anymore. Canon files, Sony and DNG are not giving a preview anymore. Something seems wrong, love the project regardless!

[2020-08-04 09:18] ariselseng commented on #51
Hi, can you give some more details about the server you are running it on?

[2020-08-04 15:04] ariselseng commented on #51
@helloha82 especially which distro version and kernel version you have. If it is a little old then I might know what is going on.

[2020-08-05 07:22] helloha82 commented on #51
running centos, the latest 3.10.0-1127.18.2.el7.x86_64

[2020-08-05 21:02] ariselseng commented on #51
@helloha82 Please check the nextcloud logs. Do you see any mention of camerarawpreviews or any exceptions related to your raw  files?
I just tried the exiftool binary (which does the work) on centos7 and it just worked.
Can you confirm you are on Nextcloud, using the app version 0.7.7 and are running php 7.2 or newer?

[2020-08-06 20:34] GitBoxer commented on #51
I am having the same issue.  On NC 19.0.1 (based in linuxserver docker in unraid) and CRP 7.7

[2020-08-06 20:53] ariselseng commented on #51
@gitboxer can you describe the issue? Any thing in the nextcloud logs?

[2020-08-06 21:04] GitBoxer commented on #51
Raw files just show a generic icon and when clicked, they say error loading.  Here's one example from the log.  This happens for each DNG or RAF

"Exception: Unable to find preview data:
/config/www/nextcloud/apps/camerarawpreviews/lib/RawPreviewBase.php - line 157:

OCA\CameraRawPreviews\RawPreviewBase->getBestPreviewTag("/data/alexa ... F")

/config/www/nextcloud/apps/camerarawpreviews/lib/RawPr

[2020-08-06 21:10] ariselseng commented on #51
@GitBoxer Thank you. That helps. Are you on x86 cpu or arm? I just tried linuxserver/nextcloud docker image now and it works nicely out of the box. This is with x86. With arm it will need perl installed I am afraid.

[2020-08-06 21:18] GitBoxer commented on #51
It's an x86 machine

[2020-08-06 21:26] ariselseng commented on #51
@gitboxer Alright.  Can you send me a sample file of a file that does not work? I want to rule out something with the files before I dive into unraid.

[2020-08-06 21:42] GitBoxer commented on #51
Here's a problematic file:

https://cloud.aka.archi:443/s/nZipn72ao9Skrd3

On Thu, 6 Aug 2020 at 16:54, Ari Selseng <notifications@github.com> wrote:

--
_______________________
Alexander Kravec
alex@kravec.com

[2020-08-07 04:51] ariselseng commented on #51
@gitboxer that file worked fine for me.
Can you try this inside the docker container?
[APPS PATH]/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all [FULL PATH]/IMG_20200729_055629.dng

[2020-08-07 05:23] ariselseng commented on #49
@z28rbill Can you try the lastest version of the app? I think maybe it is a little faster. Not that it fixes the concurrency problem though.

[2020-08-07 11:00] GitBoxer commented on #51
So there was nothing the apps path :/  I think I F'd things up when I changed the docker hub last week to try to force an upgrade to NC 19.  I'll do a little fixing and get back to you, thanks!

[2020-08-07 11:02] ariselseng commented on #51
@GitBoxer Alright. Thank you for your input.

@helloha82 Sorry for hijacking your issue. Can you send me some more information about your setup? Like are  you running plain PHP and Apache? Are you running docker?

[2020-08-07 12:44] GitBoxer commented on #51
sh: /config/www/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin: Permission denied
:/

[2020-08-07 12:45] ariselseng commented on #51
@GitBoxer Are you running as the same user as php?

[2020-08-07 12:47] GitBoxer commented on #51
Not sure.  I'm using the console of the Unraid docker

[2020-08-07 12:49] GitBoxer commented on #51
root@2b02552...

[2020-08-07 12:59] ariselseng commented on #51
can you run these two commands:
 ls -lah /config/www/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin

findmnt -l | grep noexec|grep \/config

Also how did you install the app, via the web interface of nextcloud?

[2020-08-07 13:05] GitBoxer commented on #51
-rw-r--r-- 1 abc abc 7.0M Aug  7 08:42 /config/www/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin
sh: findmnt: not found

Installed through the web interface

[2020-08-07 13:06] GitBoxer commented on #51
used apk add findmnt, then I ran the command and no output

[2020-08-07 13:10] ariselseng commented on #51
@GitBoxer okay thanks.
Somehow exiftool.bin has been marked as not executeable. You can fix it temporarily with chmod u+x /config/www/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin or chmod +x /config/www/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin

If the app runs as "abc" then it tries to make it executable. Why that hasn't happened is not known

[2020-08-07 13:13] GitBoxer commented on #51
OK. thanks!  I think I get what's going on.  I'll try to debug the rest with Google :p

[2020-08-10 10:28] rebel22lax commented on #51
I too have the same issue, can see raw file preview ...get loading error when i click on them ...running the unraid docker version

[2020-08-10 18:58] ariselseng commented on #51
@rebel22lax @GitBoxer @helloha82  Hi guys. I have uploaded a new release (0.7.8) that should at least fix an issue with Unraid. I am not sure if it also was the same issue as @helloha82 had, but I would appreciate if you test it nonetheless.

If you have any problems, please uninstall the app and reinstall again through the web interface.

[2020-08-10 19:41] GitBoxer commented on #51
@ariselseng can confirm that the update to 0.7.8 solved the issue.  Thanks!!

PS would love an xmp sidecard interpreter for this plugin :p

[2020-08-10 19:58] rebel22lax commented on #51
@ariselseng the update fixed my issue we are good to go!

[2020-08-17 20:47] ariselseng commented on #51
Closing this as I haven't heard from you @helloha82.  I can open it again if you still have issues.

[2020-08-17 20:47] #51 closed

[2020-10-20 10:13] marcelkottmann opened #53 "Please update for Nextcloud 20"
Please create release for nextcloud version 20.

[2020-10-22 08:44] motodoros opened #54 "JPEG parameter struct mismatch: library thinks size is 624, caller expects 656"
Hi!

I got following error on my NC.
{"reqId":"vutjHWK0DJ5v8hlNY9TT","level":3,"time":"2020-10-22T07:23:19+00:00","remoteAddr":"192.168.88.1","user":"admin","app":"camerarawpreviews","method":"GET","url":"/index.php/core/preview?fileId=418301&c=0d17712978c9817c6d397921e769f2d3&x=188&y=188&forceIcon=0","message":{"Exception":"Intervention\\Image\\Exception\\NotReadableException","Message":"Unable t

[2020-10-22 08:46] motodoros commented on #54
Formated log
[code]

[2020-10-23 05:10] ariselseng commented on #54
@motodoros can you send me a sample image that I can test locally for myself? And also can you tell me a bit about your web server?

[2020-10-23 08:34] motodoros commented on #54
Server ubuntu 18.0.4LTS
CPU: 6 cores
RAM: 8GB

webserver - apache
database - postgres
php version: 7.3.23
php memory: 6 GB
php max exec time: 3600
php max send size: 2 MB
imagick module version => 3.4.4

I tried this for any RAW file, and every time I get same error.

[_ASC6532.zip](https://github.com/ariselseng/camerarawpreviews/files/5428285/_ASC6532.zip)

[2020-10-23 19:54] ariselseng commented on #54
@motodoros I just tested the file on my machine and it works great. After a little googling it seems it could happen if you have multiple libjpeg installed. You could also try to remove php-gd extension. It is worth a shot.

[2020-10-25 13:51] motodoros commented on #54
@ariselseng

I recently installed new extention "facerecognition" to my NC. So, I built pdlib  and added this string to php.ini file:
[code]
After commenting this string, camerarawpreview starts working without errors.

WTF?
As I understand pdlib.so uses different versions of jpeg modules and loads it to php. Do u know how to avoid it?

[2020-10-25 14:25] ariselseng commented on #54
I have no idea if it's possible. You could maybe remove imagick and only use GD. Worth a shot.

[2020-10-25 15:11] #54 closed

[2020-10-26 18:44] ariselseng commented on #53
@marcelkottmann Thanks for the heads up! I have pushed a new release now. It will be available in about an hour or less.

[2020-10-26 18:44] #53 closed

[2020-11-02 01:28] Skeebopstop commented on #33
Hi @ariselseng , I am running into this same issue but am on the latest release as per Nextcloud 19.0.4. Could it be my oc_filecache? My previews show fine, but when I click on the file it downloads rather than shows up in viewer, but the thumbnails show the previews.

Any help appreciated!

[2020-11-02 01:38] Skeebopstop commented on #33
I can confirm this works for me, thanks so much! Do you know if it's something related to this as to why camera raw preview do not show up in the 'Photos' app? Everything works great via the 'Files' app.

Thanks!

[2020-11-02 05:37] ariselseng commented on #33
I bet the Photos app does not check if a file has preview but rather just the mime type.

[2020-11-04 05:51] Skeebopstop commented on #33
thanks, agreed. I put a post under the Photos app github and they've confirmed it only supports png/jpg. I've requested they just show all 'image' mimetypes as that's a bit ridiculous otherwise.

[2020-11-08 05:05] potato1992 opened #55 "Any plan to support CR3?"
Any plan to support the new Canon format, .CR3?

[2020-11-08 06:32] ariselseng commented on #55
CR3 should work already, as long as it has a built in preview and exiftool can extract it.

[2020-11-08 10:00] fabrees commented on #55
I can confirm that CR3 is working for me. But I do not see the extension working with cr3. Is the extension case sensitive?

[2020-11-08 11:50] potato1992 commented on #55
Thanks, indeed it works, the extension was disabled by nextcloud somehow...> CR3 should work already, as long as it has a built in preview and exiftool can extract it.

[2020-11-08 11:52] potato1992 commented on #55
I have tried changing .CR3 into .cr3, and it still works. I am using nextcloud19

[2020-11-08 12:12] fabrees commented on #55
Ok, also cr3 works. Has to be some differences for already existing files versus new uploads. My existing RAW files are not recognized as pictures and there will be also no preview available.

[2020-11-09 07:56] potato1992 commented on #55
Hi, I have faced exactly the same issue, as you referred, it seems only works with newly added cr3 file, thus I have tried
[code]
or with www-data account if apache is started with www-data
[code]
And it works, all existing cr3 file can be recognized with preview.

[2020-11-09 18:20] ariselseng commented on #55
nextcloud caches (forever) preview results so a full scan after installing this app is a good idea.

I have a branch where I test deleting previews to fix this in a more elegant way, but it is not safe to use yet: https://github.com/ariselseng/camerarawpreviews/pull/52

I am closing this now as there does seem to be any problem here.

[2020-11-09 18:20] #55 closed

[2020-11-23 13:21] anaxmedia opened #56 "Mobile app preview?"
Hi there. Love this app! Should it work in the official Nextcloud IOS app? When I click on a RAW photo in the mobile app it downloads it instead of opening the preview.

[2020-11-23 16:19] ariselseng commented on #56
It should yes. I have never tested the ios app, but it should work like the android app. Can you make a test with android on the same image?

[2020-11-23 18:22] ariselseng commented on #56
@anaxmedia I just tested this on a ios device. It downloads the file but actually shows the preview ( I think) generated with this app.
Feel free to open an issue on https://github.com/nextcloud/ios

[2020-11-23 18:22] #56 closed

[2020-11-24 05:04] TurkeyMan opened #57 "Raw images not appearing in the gallery"
I install this plugin, and it is working; when I click a raw image, it shows a preview as written on the tin.

However, I see lots of comments saying "great, this even works in the gallery!", which is exactly what I want, but that is not working for me. If I add new jpeg's they appear in the gallery, if I add a CR2, it does not appear in the gallery, and I can only see it via the filesystem.

This

[2020-11-24 06:47] ariselseng commented on #57
This app only makes files have previews. It is up to the individual apps to make use of that metadata. In the webdav response there is a tag called nc:has-previews which is supposed to be handled.
The gallery app is legacy as far as I know and the new viewer app can be used together with the files app.

[2020-11-24 07:12] TurkeyMan commented on #57
Okay, right; there's a bunch of people who refer to the 'Gallery' (saying that it worked with your plugin), but I only see "Files", "Photos", etc.

So... I still want my CR2's to appear in Photos, but they just don't. Do you know how that can be fixed? Who is responsible for that compatibility? Is it a thing that can be implemented from your plugin, or from the Photos app? Or is there some protoco

[2020-11-24 07:14] ariselseng commented on #57
The photos app should make use of the webdav tag for previews instead of just whitelisting certain mimetypes.

[2020-11-24 07:58] TurkeyMan commented on #57
I'm not sure that's what I'd want personally; otherwise you'll end up with PDF's and all sorts of junk in your photos just because it has a preview.
I feel like there should be some way to extend the particular collection of mimetypes that are to be included in the photos... that way your plugin, which is certain that the media it provides previews for are definitely photos, can extend that whitel

[2020-11-24 15:22] TurkeyMan commented on #57
https://github.com/nextcloud/photos/issues/530 <- this appears to be requested at the other end too
You and Photos team should synchronise on an API to manage the whitelist.

[2020-11-24 23:08] Geradot opened #58 "Don't work RAW images preview"
Updated to version 20.0.2, but for several major versions the preview of RAW images does not work ...
Maybe it's some kind of cache? Reinstalled the application, didn't help.
Can you help me?

[2020-11-25 05:36] ariselseng commented on #58
Try to find anything in the logs and also rescan the files with the occ command.

[2020-11-25 09:33] Geradot commented on #58
This is what is written in the logs when I turn on this extension (I cannot keep it turned on for a long time, since the RAM is overloaded and I have to reboot the server)
![Screenshot_20201125_112149](https://user-images.githubusercontent.com/16444502/100208507-7ba08900-2f11-11eb-9638-b3c983ceabf3.png)

Of course, I will try to do this, but it is unlikely that it will bring a positive result. If

[2020-11-25 10:58] ariselseng commented on #58
Is there anything in the logs with camera raw preview and also things with error or warning?

[2020-11-25 11:07] Geradot commented on #58
As soon as I turn on your add-on, the log is filled with the entries shown in the screenshot. This is just a part that fit on one screen without scrolling. Below are the records of the same type. No entries with the ERROR level were found, there are only INFO and DEBUG.

[2020-11-30 12:41] Ch00k opened #59 "Previews are not generated on Hetzner Storage Share instance"
I use a Hetzner Storage Share, which is essentially a managed NextCloud deployment, which I have full admin access to (web UI only, no server or database access). I installed the app, uploaded one NEF file, but the preview did not get generated.

I double-checked with Hetzner support, and they claim that both imagick and gd modules are enabled in PHP. I also don't see anything in Nextcloud logs in

[2020-11-30 19:05] ariselseng commented on #59
@Ch00k Check your nextcloud logs. Look for errors and camerarawpreviews.

Also, make sure your NEF file actually has previews embedded in it. You can check that with exiftool on you local machine:

```exiftool  -json -preview:all FILEPATH```

Also do you know which distro/os is hosting it?

[2020-11-30 19:29] ariselseng commented on #58
@Geradot info and debug is nothing to worry about. I would set the level to warnings and errors if I where you.

[2020-11-30 19:35] Geradot commented on #58
I understand. But what else can I do to give you the information you need? After all, your add-on does not work for me until now

[2020-12-01 05:38] ariselseng commented on #58
What server configuration do you use? Like php version, os version , webserver, etc.

[2020-12-01 08:55] Geradot commented on #58
**Operating system:** Linux 5.4.78-1-MANJARO #1 SMP PREEMPT Wed Nov 18 21:31:46 UTC 2020 x86_64

**Webserver:** Apache/2.4.46 (Unix) PHP/7.4.12 (apache2handler)

**Database:** mysql 10.5.8

**PHP version:** 7.4.12

**Modules loaded:** Core, date, libxml, openssl, pcre, zlib, ctype, dom, fileinfo, filter, hash, json, mbstring, SPL, PDO, session, posix, Reflection, standard, SimpleXML, Phar, tokeniz

[2020-12-01 09:02] Ch00k commented on #59
<img width="1078" alt="image" src="https://user-images.githubusercontent.com/230214/100718635-db88ab00-33bb-11eb-9908-02ea7db59b96.png">
These are all the logs I got since the inception of my Nextcloud instance.

The `exiftool` shows that there is preview (as far as I can tell):

[code]

[2020-12-01 09:05] Geradot commented on #58
Here is the configuration of another server where your add-on is running successfully. As you can see, the difference is absolutely minimal.

**Operating system:** Linux 5.4.78-1-MANJARO #1 SMP PREEMPT Wed Nov 18 21:31:46 UTC 2020 x86_64

**Webserver:** Apache/2.4.46 (Unix) PHP/7.4.12 (apache2handler)

**Database:** mysql 10.5.8

**PHP version:** 7.4.12

**Modules loaded:** Core, date, libxml, ope

[2020-12-01 20:59] ariselseng commented on #58
Have you attempted to uploaded a new raw file which you can be certain has not been processed before. (There is some caching going on that can interfere).
If you reuploaded a raw file with a new name that would be a good test to check for that.

[2020-12-01 21:02] ariselseng commented on #59
Thanks. The file should have previews yes.
Can you check if the exceptions we see in the logs is triggered when you upload a new raw file?
If there is an exception, that could stop preview generation.

[2020-12-02 06:28] Ch00k commented on #59
No, those two error log entries were unrelated to file upload, and new upload does not trigger any errors.

I can ask support to have a look at server-side logs. Do you have a clue where and what to look for exactly?

[2020-12-02 06:32] ariselseng commented on #59
You can ask if they allow shell_exec() in php. Which is required.

[2020-12-02 06:33] ariselseng commented on #59
The exiftool in the vendors folder also needs to be executable. exiftool and exiftool.bin. but they should be if they have not touched the files after install.

[2020-12-02 06:35] Ch00k commented on #59
Wouldn't the app raise exceptions if either `shell_exec()` is not allowed or `exiftool` cannot be executed?

[2020-12-02 06:37] ariselseng commented on #59
You are probably right.

[2020-12-02 06:38] Ch00k commented on #59
I asked about `shell_exec()` anyway.

[2020-12-02 08:26] Geradot commented on #58
After updating the add-on, everything worked! Thanks!

[2020-12-02 08:42] #58 closed

[2020-12-02 15:37] Ch00k commented on #59
They are saying that `shell_exec` is not available. It's weird that I am not seeing any errors in the log though...

[2020-12-04 14:32] Ch00k commented on #59
I cancelled my Hetzner subscription because it is quite useless without this app working. I am still curious to know why the app does not raise any exceptions when it cannot do `shell_exec()`, but you can feel free to close this issue.

[2020-12-13 12:37] leowenlu commented on #59
Self hosted, and got the following error, rhel8 , /usr/share/nginx/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all -FileType '/usr/share/nginx/nextcloud/data/admin/files/Photos/_DSC1235.NEF'
[{
  "SourceFile": "/usr/share/nginx/nextcloud/data/admin/files/Photos/_DSC1235.NEF",
  "JpgFromRaw": "(Binary data 602063 bytes, use -b option to extract)",
  "Previe

[2020-12-13 14:07] ariselseng commented on #59
@leowenlu Please open a new issue about this. I am quite busy right with moving into a new house so I might not respond right away.

[2020-12-13 21:35] leowenlu opened #60 "error with RAW NEF file error"
Self hosted, and got the following error, rhel8 , /usr/share/nginx/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all -FileType '/usr/share/nginx/nextcloud/data/admin/files/Photos/_DSC1235.NEF'
[{
"SourceFile": "/usr/share/nginx/nextcloud/data/admin/files/Photos/_DSC1235.NEF",
"JpgFromRaw": "(Binary data 602063 bytes, use -b option to extract)",
"PreviewImage

[2020-12-14 02:54] thenameiwantedwastaken opened #61 "Exception: No perl executable found. Camera Raw Previews app will not work."
I get the above error in log files on nextcloud.

This is a docker install of nextcloud based on linuxserver/nextcloud. I am on an Odroid XU4 (ARM processor). Nextcloud is 20.0.3.

Any tips on how to solve this?

[2020-12-14 05:36] ariselseng commented on #61
You will need perl on arm. I recommend you use the official arm image.

[2020-12-15 06:24] thenameiwantedwastaken commented on #61
I'm sorry, but I don't understand your answer. I do understand that I need perl, but what exactly is the official arm image that you refer to? Is it a docker image? Is it an image of nextcloud, or of perl?

[2020-12-15 06:28] ariselseng commented on #61
I am sorry. I meant the official nextcloud docker image: https://hub.docker.com/_/nextcloud

That one has perl, atleast on x86.

[2020-12-15 06:32] thenameiwantedwastaken commented on #61
Okay - thanks for the quick response. I don't really want to change to a completely different nextcloud image for fear or breaking my existing setup. :-( Thanks anyway. I wonder why the linuxserver nextcloud image does not include perl.

[2020-12-21 10:47] leowenlu commented on #60
I know you are currently quite busy, is there anything I can do to help troubleshooting?

[2020-12-21 13:25] ariselseng commented on #60
if you know php you can check if you are allowed to use shell_exec().

[2020-12-23 18:26] matlinski opened #62 "Make SRW work please"
Hi, this wouldn't probably be a very high priority task but I would appreciate it a lot, I'm hosting my own cloud and it's perfect. Except can't view the SRW file, CRW works great thanks to you but I still have a lot of SRW files, and sadly I have to download them which is not ideal.

[2020-12-24 11:29] ariselseng commented on #62
If CRW works for you, but SRW does not, I bet your SRW files does not have any preview embedded. Could you upload a sample so I could have a look?

[2020-12-25 15:16] matlinski commented on #62
Hello Ari, thank you for such quick reply, below I'm sharing with you one of the files that I'm self hosting on Nextcloud.
https://matlinski.devs.rest/s/iGJ2f2TMmd5r8DC

[2020-12-26 07:46] ariselseng commented on #62
That file worked fine for me. Can you try to rename it locally on your machine and then reupload it as a new file? Will the preview work then? It may be some caching issue.

[2020-12-26 17:44] matlinski commented on #62
Hello Ari, you were right! It works! Now the question is how do I make it work without reuploading all the files. Renaming or moving them around didn't help.

[2020-12-26 18:10] ariselseng commented on #62
I think you can run occ files:scan. I have a branch here on GitHub to delete nextcloud preview cache but it is not stable yet.

[2020-12-26 18:36] matlinski commented on #62
Ok, it worked! Thanks for your time Ari! We can close this issue.

[2020-12-26 20:33] #62 closed

[2020-12-28 03:22] StarKfeirchris opened #63 "Does not support Apple ProRAW files"
Apple ProRAW (.dng) files not loading, but Sony RAW (.arw) files can loading,
will it be supported in the future?

Apple ProRAW
https://i.imgur.com/LNLdjVy.png

Sony RAW
https://i.imgur.com/vcQJn3I.png

[2020-12-28 06:50] ariselseng commented on #63
I think exiftool does not support it: https://exiftool.org/#supported
Maybe it will work in the future. Can you upload a sample so i can have a look?

[2020-12-28 08:11] StarKfeirchris commented on #63
Sample:
https://www.mediafire.com/file/bxxpkkie7e1oszu/Apple_ProRAW_sample.7z/file

There are two files in this 7z file, `IMG_4378.DNG` is the original unedited RAW file, and `IMG_4378-01.DNG` is the RAW file edited with the "Photos" app, `IMG_4378.DNG` can review, but `IMG_4378-01.DNG` can not review.

[2021-01-04 17:07] ariselseng commented on #63
This image only has depth image data and no preview so I am afraid I cannot make this work (without generating new preview but that is not something I have done with this app yet).

[2021-01-04 17:07] #63 closed

[2021-01-10 22:45] leowenlu commented on #60
sorry for the late reply, shell_exec() worked as expected.
test.php
<?php
$output = shell_exec('ls -lart');
echo "<pre>$output</pre>";
?>

I can list contents in nextcloud root folder.

[2021-02-06 15:48] s-hufschmid opened #64 "ARW Preview for Sony Alpha 7 III files is not working"
Sony ARW Preview for Sony Alpha 7 III is not working.
no matter if it is an compressed ARW or uncompressed File.
Installed Nextcloud Version: 20.0.4

[2021-02-08 20:36] ariselseng commented on #64
Are other raw files working for you? You can find samples on the web.

[2021-02-09 16:54] s-hufschmid commented on #64
Hi !
I checked it with other raw files .. NEF and CR2 ... Didn't work also :-(

[2021-02-09 16:55] ariselseng commented on #64
Let me guess. Are you a arm server or snap install?

[2021-02-09 17:05] s-hufschmid commented on #64
I'm on a hosted solution on www.hetzner.de.
I will check if it a snap install oder not..
What if it is an snap based install  ?

[2021-02-09 17:06] ariselseng commented on #64
I think hetzner is blocking shell_exec. There has been others reporting that.

[2021-02-09 17:27] ariselseng commented on #64
See here. Same issue: https://github.com/ariselseng/camerarawpreviews/issues/59

[2021-02-10 17:24] HeyWatchOutDude opened #65 "RAW Preview (automatically) not working"
Hi,

I have noticed that RAW Previews are not getting automatically generated.

When I click on a RAW file (.CR2) it gets generated.

Is there something missing in my configuration?

- Nextcloud Version: 20.0.7
- OS: Ubuntu 20.04.2 LTS (x86_64)
- CameraRawPreview App is up to date

Anyone has the same issue like me?

[2021-02-10 17:41] ariselseng commented on #65
Do you mean you don't get thumbnails of it until you click them? There is no automatic generation. It is generated on-demand. This is how nextcloud works.

[2021-02-10 19:37] ariselseng commented on #59
Closing this as there is nothing we can do here.

[2021-02-10 19:37] #59 closed

[2021-02-10 19:38] ariselseng commented on #64
Closing this as there is nothing we can do here I am afraid. At the least there should be a way to detect this so that we can avoid having users installing the app, but I am afraid Nextcloud/Owncloud do not have a check for this.

[2021-02-10 19:38] #64 closed

[2021-02-10 19:38] #61 closed

[2021-02-10 19:42] ariselseng commented on #60
@leowenlu Did you figure this out?
Now when I see the logs you were posting there seems to be missing something from the stack trace. Do you see any exception?

[2021-02-10 23:35] HeyWatchOutDude commented on #65
Correct.

it's possible to generate previews with a cronjob.

php /var/www/nextcloud/occ preview:pre-generate

But this doesn't affect the RAW pics.

Is there any way?

I don't know how but in my old NC configuration everything was working fine.

[2021-02-14 09:21] HeyWatchOutDude commented on #65
Is it possible to configure a cronjob which is supported by this app?

[2021-02-14 10:02] ariselseng commented on #65
The Pre-generate worked with this app before. I guess you will need to ask the author about that. Maybe there is a list of lime types that it will trigger generation of previews.

[2021-02-21 00:13] leowenlu commented on #60
do you mean the exception like the below? or what exactly is the exception? or let me know where I can get the log for you.

eviews | Exception: Unable to find preview data: /usr/share/nginx/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all -FileType '/usr/share/nginx/nextcloud/data/admin/files/Photos/_DSC1235.NEF' ->
-- | --

[2021-03-02 15:37] ariselseng commented on #65
@HeyWatchOutDude I just tested this on my install here. It seems to work great, just like like a couple of years ago.

docker-compose exec --user www-data app php occ preview:generate-all --path="/ari/files/DNG-test" -vvv
2021-03-02T15:34:15+00:00 Scanning folder /ari/files/DNG-test
2021-03-02T15:34:15+00:00 Generating previews for /ari/files/DNG-test/B0000994b.3FR
2021-03-02T15:34:15+00:00 Genera

[2021-03-06 23:57] leowenlu commented on #60
any clue?

/usr/share/nginx/nextcloud/apps/camerarawpreviews/lib/RawPreviewBase.php - line 111:

OCA\CameraRawPreviews\RawPreviewBase->getBestPreviewTag()

/usr/share/nginx/nextcloud/apps/camerarawpreviews/lib/RawPreviewBase.php - line 61:

OCA\CameraRawPreviews\RawPreviewBase->getResizedPreview()

/usr/share/nginx/nextcloud/apps/camerarawpreviews/lib/RawPreviewIProviderV2.php - line 25:

OCA\Came

[2021-03-08 15:36] ariselseng commented on #60
@leowenlu Just a thought. Do you have local files or do you use some kind of external storage?

[2021-03-08 22:17] leowenlu commented on #60
local files, no external storage.

[2021-03-24 17:45] nickvergessen opened #66 "Incompatible with current viewer?"
https://github.com/nextcloud/spreed/issues/5195#issuecomment-785771092

There seems to be something wrong with the provided viewer option

[2021-03-24 19:25] ariselseng commented on #66
@nickvergessen Do you have any documentation on how it should be? The integration I am using with viewer has been running for years now.

I am using:
[code]

[2021-03-24 21:18] nickvergessen commented on #66
Is https://github.com/nextcloud/viewer#-add-you-own-file-view enough?

[2021-04-13 13:45] michaave opened #67 "NC21 previews not showing"
No previews in nextcloud, logs show:

Exception: Unable to find preview data: /var/www/html/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all -FileType '/media/myCloudDrive/NextCloudData/michaave/files/Photos/Phone camera/2021/04/IMG_20210401_170452.dng' -> [{ "SourceFile": "/media/myCloudDrive/NextCloudData/michaave/files/Photos/Phone camera/2021/04/IMG_20210401_1704

[2021-04-13 13:55] ariselseng commented on #67
Hello,
Thanks for reporting.

Two things:
"you have new mail in /var/mail/www" has actually nothing to do with the command you were typing. It is the shell telling you that you have an email. This might be a failing cron-job or something. You can check in /var/mail/www.

The exception indicates that there is no preview data inside the exif data. This app only extracts previews and does not actuall

[2021-04-13 13:55] #67 closed

[2021-04-13 14:15] michaave commented on #67
Ah, so these DNG files don't contain usable preview data for the plugin to use?

[2021-04-13 14:16] ariselseng commented on #67
That is correct.

[2021-04-22 22:45] adripo opened #68 "Application is not setup via query() but directly at <<closure>>"
Hello,

After enabling debug on Nextcloud 21, I get this error in the logs.

[code]

As I read on [this issue](https://github.com/nextcloud/maps/issues/384) for calendar the solution should be something like [this](https://github.com/nextcloud/calendar/pull/1958/files#diff-079bbe455bfa9aeaf363ae1bc6415ba0R25).

[2021-04-23 05:33] ariselseng commented on #68
Thank you for the heads up. I have not upgraded to 21 myself yet.

[2021-04-24 23:33] adripo commented on #68
It can be tried in a docker container running v21.
Otherwise I can test it myself. I am not sure the issue is solved by simply changing that row or other things need to be changed. If it is just that I can do a pr.

[2021-05-03 22:10] ariselseng commented on #68
This is should better in latest release. Still other debug notices though.

[2021-05-03 22:11] #68 closed

[2021-05-29 20:19] jblax07 opened #69 "LOVE IT -- but CR3 preview is badly needed :)"
Really appreciative for what you've done and just want to encourage support for CR3. We've been updating our cameras and really would like to see Canon's Cr3 files on the server :)

MEGA THANKS!

[2021-05-31 09:54] ariselseng commented on #69
@jblax07

Thank you for your kind words.

This only supports raw files that have previews embedded in them, including CR3. Some cameras do not embed previews and those will not work with this app.

Some image library applications like Lightroom add these previews and I would recommend something like that as a workaround.

Hope it works out :)

[2021-05-31 09:54] #69 closed

[2021-06-06 21:25] HeyWatchOutDude opened #70 "Unable to find preview data (.ARW)"
Hi,

is there a known problem with NC version "21.0.2"?

Because I'm getting a lot of errors while creating previews of an ".ARW" file.

Error
camerarawpreviews
2021-06-06T23:16:46+0200
Exception: Unable to find preview data: /var/www/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all -FileType '/media/cloud/nextcloud/user1/files/Freigabe/Folder1/21-06-06 14-

[2021-06-06 21:40] ariselseng commented on #70
Not that i know of. It would help if you could upload a sample for me to test.

[2021-06-07 06:53] HeyWatchOutDude commented on #70
Sure, here is an example:

https://drive.google.com/drive/folders/1X_cm6-jDfOfpYqLaoaJIEfQAdONrA5o3

[2021-06-08 17:58] ariselseng commented on #70
@HeyWatchOutDude That files works fine on my install.
Are you sure that the file you sent me and the file provided in the example "21-06-06 14-29-16 4860.arw" is from the exact same setup? The log example shows that the "21-06-06 14-29-16 4860.arw" is actually detected as a jpeg. I have never seen that. But the test ile you sent me is not, that is a normal raw file.

The app is using "exiftool" to

[2021-06-08 22:40] HeyWatchOutDude commented on #70
I have checked it again ... somehow when I open an .ARW file I'm getting that preview:

https://imgur.com/a/obdddvH

After clicking on the three dots and "Open with" the image gets successfully downloaded and I can view the image + preview:

https://imgur.com/a/jv40Kpw

https://imgur.com/a/qE3SJot

Via the web I only get an error message:
(Error while loading)

https://imgur.com/a/Jn6UoIC

[2021-06-10 19:20] HeyWatchOutDude commented on #70
Ok I think it's a nextcloud bug ....

When I open the apple photos app and choose the pictures from their to upload it to the nextcloud ... everything is working fine. (File type: *.ARW)

In comparison when I open the nextcloud app and choose upload picture and videos ... the files somehow are getting corrupted.
(File type: *.arw)

Could you please try to replace it on your site?

[2021-06-14 19:55] ariselseng commented on #70
@HeyWatchOutDude Hi,
What do you mean by "replace it"?

[2021-06-14 21:25] HeyWatchOutDude commented on #70
I found the issue ... somehow when the files (photos) got imported from a sd card directly to an iOS device ... the files are getting corrupted.

I think you can close the issue, thanks for your time & help!

[2021-06-14 21:33] ariselseng commented on #70
Glad you figured it out! Closing.

[2021-06-14 21:33] #70 closed

[2021-07-07 16:07] adripo opened #71 "Update Nextcloud version 22"
Please update for nextcloud version 22.

[2021-07-12 13:09] frieck opened #72 "Support for Apple DNG files"
Hello!

iPhone have now support for taking raw images (saved as .dng files) but the preview is not generated for it.
Is there a fix for that?

Thanks

[2021-07-15 20:26] DukeSniper commented on #71
seems to be working just fine in Nextcloud 22 after forcibly enabling it

[2021-08-10 16:47] ariselseng commented on #71
Fixed in 0.7.12 coming to nextcloud appstore now.

[2021-08-10 16:47] #71 closed

[2021-08-10 16:50] ariselseng commented on #72
@frieck I am afraid there is not. I have very limited time. Fixing this would involve starting to generate previews directly from raw instead of using exiftool to extract existing previews. There is a big difference in amount of work in these two different approaches.

[2021-08-10 16:50] #72 closed

[2021-08-10 16:52] ariselseng commented on #66
@nickvergessen Can you have a check and see if this is still an issue with latest nextcloud and  latest version of my app?
I find it a bit hard to actually reproduce any problems.

[2021-08-19 12:41] nickvergessen commented on #66
I don't have the app nor raw images. If you can send me one to `<my github name>@nextcloud.com` I can test it

[2021-08-25 16:54] ariselseng commented on #66
@nickvergessen I have sent a quick email with samples for you to test with, if you still have time to do a test.

[2021-09-19 10:38] facorazza opened #73 "Wrong JPEG library version: library is 80, caller expects 62"
If I try to generate previews I get this error.

I'm on Debian 10.
Online I saw people uninstalling and reinstalling libjpeg 6 and 8 but I'm on Debian 10 and these are the packages available:
[code]

I tried to install libjpeg-dev to no avail.

Is it an issue with imagemagick?

[2021-09-19 11:04] facorazza commented on #73
I tried to remove all libjpeg libraries:
`apt purge libjpeg-dev libjpeg62-turbo && apt autoremove -y`

then I tried to reinstall libjpeg62 again:
`apt install -y libjpeg62-turbo`

and tried to generate the previews. Then I got:
[code]

So I installed GD:
`apt install php7.3-gd`

Now I don't get the error anymore and the NEF previews work fine.

[2021-09-19 11:04] #73 closed

[2021-09-21 18:57] Zel9689 opened #74 "not working if file path contains non ASCII character"
It works well if the path is just ASCII, but my folders all contain Chinese character.

In nextcloud.log:
[code]

it says:
`"message": "Unable to find preview data: /var/lib/nextcloud/apps/camerarawpreviews/vendor/exiftool/exiftool/exiftool.bin -json -preview:all -FileType '/run/media/zelus/201904\\(ZFL079MC\\)/A6000/2020/200108/DSC03294.ARW' -> "`

and the path actually is:
`/run/media/zelus/2019

[2021-10-07 21:30] guydelarea opened #75 "Camera Raw Previews stop working when pdlib is enabled"
Hey!

i am using Nextcloud 22.1.1 on Ubuntu server (20.04) running on nginx, and when i am trying to run this app with the **pdlib** php extension because of the [face recognition app](https://github.com/matiasdelellis/facerecognition) and when i do i`am getting an error loading RAW image files.

when i disable [pdlib.so](https://github.com/goodspb/pdlib.git) in the php.ini the app goes back to wo

[2021-10-17 06:00] 3egirlsdream opened #76 "can support sony a7m3 & a7r4 & a7c arw file?"
now just can view a7m2 raw file.

[2021-10-17 07:16] ariselseng commented on #76
If you upload an example somewhere I can have a look. There must be a preview embedded in the exif data a d exiftool needs to support extracting it.

[2021-10-17 07:18] ariselseng commented on #75
Hmm, i am not sure we can do much here. Maybe we could have setting to force using GD instead of imagick. Your problem sounds like it is interfering with imagick.

[2021-10-17 07:21] ariselseng commented on #65
Closing this due to inactivity.

[2021-10-17 07:22] ariselseng commented on #60
@leowenlu
Sorry for super late reply. Do you still have this issue or can I close this?

[2021-10-17 07:24] ariselseng commented on #57
Closing this as this is handled in other app

[2021-10-17 11:32] guydelarea commented on #76
the camera previews is working for my A7R3 and A73 arw files.

[2021-10-20 14:30] #75 closed, assigned to nobody

[2021-10-22 20:25] DeniGam opened #77 "Unable to find preview data: canon .CR2"
Previews are not shown for *.CR2 files.
Nextcloud: 22.2.0 (in docker based on latest image)
Host system: Ubuntu-server 20.04 LTC

 php --version:
 `PHP 8.0.12 (cli) (built: Oct 21 2021 15:29:13) ( NTS )
Copyright (c) The PHP Group
Zend Engine v4.0.12, Copyright (c) Zend Technologies
    with Zend OPcache v8.0.12, Copyright (c), by Zend Technologies`

apt list --installed | grep imagemagick:
`image

[2021-11-10 09:24] 3egirlsdream opened #78 "[BUG] Can't view raw files if the folder name is Chinese"
## how to reappear
- download raw files support plugin
- create a folder named by Chinese
- upload a sony camera raw file into the folder
- then u will see the file cant view not only web, but also android ios client too.

[2021-11-10 09:28] 3egirlsdream commented on #76
I made a mistake, these cameras were supported, the really question is if the folder name is Chinese, the raw files will can't view in this folder.  web, android, ios client are same.

[2021-11-10 17:56] ariselseng commented on #78
@3egirlsdream Multiple people have reported this without me figuring out how to reproduce it. On my system chinese characters works great. Could you provide me with some details about the web server and locale setup?

[2021-11-14 06:40] ariselseng commented on #76
@3egirlsdream Alright, closing this. Please follow up in the other thread.

[2021-11-14 06:40] #76 closed

[2021-11-14 06:42] ariselseng commented on #77
@DeniGam Here is an  example file that you could load through apache:
[code]
I would really appreciate if you could help me reproduce this.

[2021-11-14 06:43] ariselseng commented on #78
@3egirlsdream Here is an  example file that you could load through apache:
[code]
I need the output of this so I can try to reproduce the issue locally.

[2021-11-14 12:33] DeniGam commented on #77
Hi @ariselseng . I'm not quite understand where I can locate this file and how I can run it.

[2021-11-14 13:13] ariselseng commented on #77
@DeniGam Ah, I would put it in the same folder as the nextcloud files, like  /var/www/html.
 Call it "test.php", and then, depending on your setup, you should be able to reach it by http://YOURNEXTCLOUD/test.php.
Are you using apache? if not, then you might not be able to reach it so easily.

[2021-11-14 13:40] DeniGam commented on #77
Ok. It looks like I found another way - I modified status.php, and add 'currentLocale' => setlocale(LC_ALL, 0), and then I call /status.php.
The result:
`{"installed":true,"maintenance":false,"needsDbUpgrade":false,"version":"22.2.0.2","versionstring":"22.2.0","edition":"","productname":"Nextcloud","extendedSupport":false,"currentLocale":"C"}`
I know that this is not exactly you've asked me, but w

[2021-11-14 13:57] ariselseng commented on #77
@DeniGam Thank you! I had the same value as you.
Could you send me a zip file with a folder with the special characters an a raw file? I tried creating a folder named "Фото" and putting a raw file into it, but it just worked :/

[2021-11-14 14:18] DeniGam commented on #77
You may download this here: https://drive.google.com/file/d/1Xe1vIrGkIsM39fqqrVLEQ4rXpUiu142W/view?usp=sharing
And one more thing, possible I know why it may works for you - NC uses some cache for created previews (and looks like it attached to file itself, not to path). That's why if I initially rename the folder to English, than open preview (it works fine), and then rename it to Russian - the p

[2021-11-14 14:23] ariselseng commented on #77
A fix is coming soon. I was able to reproduce it now reliably.

[2021-11-14 14:35] ariselseng commented on #78
@3egirlsdream Please try version 0.7.13 .

[2021-11-14 14:37] ariselseng commented on #77
@DeniGam Please try version 0.7.13, should be available in your Nextcloud in an hour or less.

[2021-11-14 14:38] ariselseng commented on #60
@leowenlu Closing this for now. Please reopen this issue if you want to continue this debugging.

[2021-11-14 14:38] #60 closed

[2021-11-14 16:28] DeniGam commented on #77
Yes, now it works! Thank you a lot for your help and for your time!

[2021-11-14 16:28] #77 closed

[2021-11-14 17:20] ariselseng commented on #77
Finally! :D

[2021-12-18 10:56] ariselseng commented on #78
Closing this. This should be fixed now.

[2021-12-18 10:56] #78 closed

[2021-12-20 14:27] Sim0nW0lf opened #79 "ARW preview not working anymore"
## Configuration
My system is running Docker version 20.10.12, nextcloud:apache, currently Nextcloud Hub II (23.0.0) with redis and Traefik in [my docker-compose.yml](https://github.com/Sim0nW0lf/Docker-Atelier/blob/master/Nextcloud/docker-compose.yml) on arm64 and also amd64
I use the previewgenerator app version  3.4.1 aswell as the **camerarawpreview app version 0.7.15**.
[These are the necessa

[2021-12-20 15:40] ariselseng commented on #79
Hi there. This sounds like you do not have previews embedded in your files.  You check that with exiftool or send me a sample for me to test.

[2021-12-20 16:21] Sim0nW0lf commented on #79
Yes you are right!
Looks like the files are broken somehow. I can not even open it in Photoshop...
Thanks for your suggestion :)

[2021-12-20 16:21] #79 closed

[2022-01-17 21:17] tilllt opened #80 "[Suggestion] Make developed RAW Previews downloadable?"
Would it be somehow possible to make the calculated previews downloadable? I mean, since it has been converted already, maybe the nextcloud download menu could be extended to a "Download JPG" funcionality?

I happen to just drop raw files into nextcloud and especially when sending it to other people that dont have the means to develop the raw files themself, it would be great if they could just do

[2022-01-29 10:18] ariselseng commented on #80
@tilllt That would be a nice feature, I agree. I am not aware of any nextcloud interface to extend the download menu. Maybe as a "open with" context menu or something. If you/anyone see a similar feature with other app maybe I could take a look.

[2022-01-29 10:29] tilllt commented on #80
The video converter extension extends the dropdown menu:
https://github.com/PaulLereverend/NextcloudVideo_Converter

![image](https://user-images.githubusercontent.com/1854364/151657505-8093dde5-7802-4988-aaa1-f8f3431009ac.png)

There is also this HEIF to JPG converter extension, i _think_ it also extends the context menu.

[2022-01-29 10:30] tilllt commented on #80
... it does
https://apps.nextcloud.com/apps/imageconverter

![image](https://user-images.githubusercontent.com/1854364/151657579-02ad8dd8-0048-4393-bdfb-fb847dd49c3f.png)

[2022-01-30 09:37] ariselseng commented on #80
@tilllt Thank you these tips.
I am not totally convinced of implementing this. As this app only extracts previews and does not generate them, it will sometimes not work or give a poor quality image, thus creating more work for me later down the road ;)

[2022-05-04 12:41] xkill opened #82 "Add Nexcloud 24 compatibility"
Add Nextcloud 24 support

[2022-05-07 08:30] ornago commented on #82
Yes it does load a preview when forcing Nextcloud to load your app.
Messages in the nextcloud.log are:
[code]

[2022-05-24 18:56] Litr-tm opened #83 "Add supoort to (pre)view HEIC images"
This patch adds HEIC support to camerarawpreviews (I have no time to create pull request)
[camerarawpreviews-heic.patch.txt](https://github.com/ariselseng/camerarawpreviews/files/8765548/camerarawpreviews-heic.patch.txt)

[2022-06-12 12:49] ariselseng commented on #82
Fixed.

[2022-06-12 12:49] #82 closed

[2022-07-07 22:22] Jordan-Work commented on #83
I can push up a PR

[2022-07-08 18:44] ariselseng commented on #83
@Jordan-Work Feel free to contribute. Make sure the code is readable and does not break any thing. Especially for users that do not have imagick extension installed.

[2022-08-01 10:14] ariselseng commented on #83
@Jordan-Work @Litr-tm @Webbeh https://github.com/ariselseng/camerarawpreviews/releases/tag/v0.8.0
Care to test this tarball before I put it on the nextcloud app store?

[2022-08-12 12:10] Litr-tm commented on #83
@ariselseng Works well. No errors/warnings reported

[2022-08-14 11:52] ariselseng commented on #83
Released in the nextcloud app store.

[2022-08-14 11:52] #83 closed

[2022-08-15 10:41] gmeks opened #84 "Preview not working ( .dng )"
The .dng file is generated by andriod app [opencamera](https://sourceforge.net/projects/opencamera/) , the web interface just remains spinning like its waiting.

Download link to image: https://cloud.thexsoft.com/index.php/s/WZAoGDbNx4R4ZGt

PHP INFO:
Version: 8.0.22
Memory limit: 4 GB
Max execution time: 3600
Upload max size: 4 GB
Extensions: Core, date, libxml, openssl, pcre, sqlite3, zlib, ctyp

[2022-08-17 16:10] ariselseng commented on #84
Your file does not contain a preview.

[2022-08-17 16:10] #84 closed

[2022-08-20 13:45] justsomescripts commented on #83
What exactly does that patch do? Maybe I'm just understanding it wrong, but HEIC previews are generated natively in Nextcloud for some time now if enabling the "HEIC" preview provider, also see this old issue here: https://github.com/ariselseng/camerarawpreviews/issues/22

[2022-08-20 14:24] ariselseng commented on #83
@justsomescripts As far I know, the heic support was dropped from nextcloud recently. Do you have working heic support on latest nextcloud?

[2022-08-20 14:46] justsomescripts commented on #83
Couldn't find anything that implies that it's deprecated. I'm running NC 24.0.4 and have HEIC previews without problems. Running the TrueCharts version on TrueNAS Scale, but as far as I can tell there are no modifications to preview generation there (besides previewgenerator is installed by default) so it should also work on a standard setup. Config for reference:

[code]

Note that I have Imagina

[2022-08-20 15:11] ariselseng commented on #83
@Litr-tm Can you comment on this? If there is actual support for heic on latest nextcloud I will definitely drop this from this app.

[2022-09-02 08:46] xeonixo opened #85 "No CR3 Previews"
Hey,

i am unable to generate CR previews... Files are ~ 30 MB

Envoirement: Docker on Dedicated Server
Image: official Nextcloud (24.0.4.2) Apache
PHP-v:8.0.22
Raw-Prev-V: 0.8.0

What did i try?
- Force Preview Generation with occ preview:generate-all
- Change to imaginary for previews -> works, but not with cr3

my issue: huge CR3 files without small preview need too much internet (folders are ~

[2022-09-02 08:58] xeonixo commented on #85
Renamed everything in windows... but its just a workaround

[2022-09-28 18:12] D34DC3N73R opened #86 "Thumbs generate but previews don't"
I see thumbnails generated, but previews fail to load. These are ARW's from a sony camera.
<img width="617" alt="image" src="https://user-images.githubusercontent.com/9123670/192850263-06c6524a-3563-4798-805a-addbeffb79a0.png">

<img width="371" alt="image" src="https://user-images.githubusercontent.com/9123670/192850612-79bd60d0-eecb-4737-8c81-6d3d7b30f9bf.png">

<img width="843" alt="image" src=

[2022-10-20 18:23] ariselseng commented on #85
This is not due renaming of the filename extension, but has with busting the nextcloud file cache. A full rescan of the files would probably do the same. It has todo with Nextcloud caching mimetypes and/or preview information before you installed this app.

[2022-10-20 18:23] #85 closed

[2022-10-20 18:24] ariselseng commented on #86
@D34DC3N73R Are you sure there is preview information in your file? This app only extracts the jpeg already inside the file.

[2022-10-20 18:25] ariselseng commented on #86
@D34DC3N73R Also, you could send me a sample file that has this issue and I could see if I can reproduce your issue.

[2022-10-21 21:00] D34DC3N73R commented on #86
I sent a sample to your email. I'm sure it used to work because I've previously previewed ARW files from the same camera. Unfortunately, I don't know the exact version it stopped working. Thanks for taking a look!

[2022-11-05 00:53] andreybavt commented on #86
Hi, I'm having the same problem but with opening `NEF` files.
Camera RAW Previews version is 0.8.0
I'm running NextCloud 25.0.1 from TrueNAS.

<img width="559" alt="image" src="https://user-images.githubusercontent.com/7889985/200093666-3699e876-58ef-4a91-85e5-0e3b1d8154cd.png">

Same as above, a thumbnail is created, but when I open a NEF file itself there's an infinite spinner

I'm curious to kn

[2022-11-05 09:28] D34DC3N73R commented on #86
I've updated to Nextcloud 24.0.7 and still have the same issue, with CRP v0.8.0. I haven't found a solution yet.

[2022-11-05 13:51] andreybavt commented on #86
another strange thing that I noticed:

when first opening an image that does work, `jpg` for example and then clicking "next" to navigate to NEF the preview does work. But when opening NEF directly it doesn't (infinite spinner)

[2022-11-07 16:28] ivan11paths commented on #86
I have the same problem with Olympus RAWs. And I confirm the forward/back operation that @andreybavt comments.

[2022-11-07 16:51] ariselseng commented on #86
I am pretty sure this is a regression in the viewer app. Does anyone care to downgrade the viewer app to a known good time/version.

[2022-11-07 19:24] #86 closed

[2022-11-07 19:26] jkhsjdhjs commented on #86
Since there haven't been many changes between 24.0.3 and 24.0.4, I'm pretty sure that this commit broke the file handler logic:
https://github.com/nextcloud/viewer/commit/e2c48013628cf19c2519cb2c7efb96014dcdb591

@andreybavt has already created an issue: https://github.com/nextcloud/viewer/issues/1450